{% extends 'base.html.twig' %}

{% block title %}Bris de porte : tester mon éligibilité{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/alpinejs/cdn.js') }}" defer></script>
    <style>
        .udraw-terms-conditions {
            height: 25rem;
            width: 100%;
            background-image: url('{{ asset("/images/undraw_terms-conditions.svg") }}');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
        }

        .pr-eligibilite_form-group {
            background-color: var(--background-alt-grey);
        }

        .pr-body_header {
            margin-top: -1rem;
            padding-top: 2rem;
            background-color: var(--background-alt-grey);
        }

        .fr-button-icon-spin:before {
            animation-name: spin;
              animation-duration: 1500ms;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
        }

        input[type=radio] {
            z-index: 2;
        }

        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }

        /* AlpineJS */
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

{% block modale %}
<dialog aria-labelledby="modale-test-eligibilite-title" id="modale-test-eligibilite" class="fr-modal" role="dialog"
        data-fr-opened="true">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <form
                        name="eligibilite-test-form"
                        action="{{ url(app.current_route) }}"
                        method="POST"
                        x-data="eligibiliteTestForm()"
                        {# x-init="$watch('reponses', )" #}
                    >
                        <div class="fr-modal__header">
                            <button
                                class="fr-btn--close fr-btn"
                                aria-controls="modale-test-eligibilite"
                                type="button"
                                @click="reinitialiser()"
                            >Fermer
                            </button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-foo-modal" class="fr-modal__title">Tester mon éligibilité à l'indemnisation</h1>

                            <p x-show="false">
                                La porte de votre logement a été fracturé par les forces de police dans le cadre d'une opération judiciaire.
                            </p>

                            {# Questions #}
                            <template x-for="(question, index) in questions">
                                <div class="fr-col-12" x-show="!decision && estActive(question)">
                                    <label x-text="question.label"></label>

                                    <div class="fr-alert fr-alert--info fr-alert--sm" x-show="question.info">
                                        <p x-html="question.info"></p>
                                    </div>

                                    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--sm fr-btns-group--right">
                                        <template x-for="reponse in question.reponses" :key="`question-${index}`">
                                            <li>
                                                <button
                                                    class="fr-btn fr-btn--secondary"
                                                    :class="{ 'fr-btn--secondary': reponses[question.champs] !== reponse.valeur }"
                                                    type="button"
                                                    @click="repondre(question, reponse)"
                                                    x-text="reponse.libelle"
                                                ></button>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </template>

                            {# Décisions #}
                            <div
                                class="fr-alert"
                                :class="decision ? `fr-alert--${decision?.type}` : null"
                                x-show="!!decision"
                                x-cloak
                            >
                                <h3 class="fr-alert__title" x-text="decision?.titre"></h3>
                                <p x-html="decision?.message"></p>
                            </div>
                        </div>

                        <div class="fr-modal__footer">
                            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg">
                                <button
                                    x-show="true"
                                    x-cloak
                                    class="fr-btn fr-btn--tertiary-no-outline"
                                    aria-controls="modale-test-eligibilite"
                                    data-fr-js-modal-button="true"
                                    @click="reinitialiser()"
                                    type="button"
                                >Annuler
                                </button>
                                <button
                                    class="fr-btn"
                                    type="submit"
                                    :disabled="!decision || !(decision?.eligible || true)"
                                    x-cloak
                                >Faire ma demande
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endblock modale %}

{% block main %}
    <div id="page-content">
        <div class="pr-body_header">
            <section class="pr-eligibilite_header">
                <div class="fr-container">
                    <div class="fr-pb-4w">
                        <h1>Bris de porte</h1>
                        <p>Je souhaite effectuer une demande d’indemnisation pour un bris de portes ou autres dégâts
                            matériels causés dans le cadre d'une opération de police judiciaire (perquisition
                            judiciaire,
                            interpellation d'un individu, ...)</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-8">
                    <section class="pr-eligibilite_conditions">
                        <div class="fr-pt-8w">
                            <h2>Quelles sont les conditions à remplir pour être indemnisé(e) ?</h2>
                            <ul>
                                <li>Vous ne devez pas être concerné(e) par l'opération de police judiciaire</li>
                            </ul>
                            <b>ET</b>
                            <ul>
                                <li>L'opération de police judiciaire doit avoir été réalisée par erreur à votre domicile
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="pr-eligibilite_action">
                        <div class="fr-pb-8w fr-pt-2w">
                            <button class="fr-btn" data-fr-opened="false" aria-controls="modale-test-eligibilite">Tester
                                mon éligibilité à l'indemnisation
                            </button>
                        </div>
                    </section>
                </div>
                <div class="fr-col-4">
                    <div class="fr-py-2w">
                        <div class="udraw-terms-conditions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function eligibiliteTestForm() {
            return {
                reponses: {},
                decision: null,
                estApplicable(question) {
                    /** Une question est applicable si elle n'a pas de champs fonction `condition` définie ou si
                     * est satisfaite par l'état actuel des réponses du questionnaire.
                     */
                    return !question.condition || question.condition(this.reponses);
                },
                estActive(question) {
                    /**
                     * Une question active si elle est applicable, pas encore répondue et si toutes, les questions avant
                     * elle sont soient répondues soient non applicables.
                     */
                    return !this.estRepondue(question) &&
                        this.estApplicable(question) &&
                        this.questions.slice(0, this.questions.indexOf(question)).every(
                            (uestionPrecedente) => this.estRepondue(uestionPrecedente) || !this.estApplicable(uestionPrecedente)
                        );
                },
                estRepondue(question) {
                    return ![null, undefined].includes(this.reponses[question.champs]);
                },
                repondre(question, reponse) {
                    if (this.reponses[question.champs] === reponse.valeur) {
                        this.reponses[question.champs] = null;
                    } else {
                        this.reponses[question.champs] = reponse.valeur;
                    }
                    // Recalculer ?
                    this.decision = this.decisions.find((decision) => decision.condition(this.reponses)) ?? null;
                },
                questions: [
                    {
                        label: "Êtes-vous la personne visée par l'opération des forces de l'ordre ?",
                        champs: 'estVise',
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ]
                    },
                    {
                        label: "Est-ce que la personne recherchée réside ou est hébergée à cette adresse ?",
                        champs: 'estRecherche',
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ]
                    },
                    {
                        label: "Quel est votre statut par rapport au logement ?",
                        champs: "statut",
                        reponses: [
                            {
                                libelle: "Propriétaire occupant",
                                valeur: 'PROPRIETAIRE_OCCUPANT'
                            },
                            {
                                libelle: "Propriétaire bailleur",
                                valeur: 'PROPRIETAIRE_BAILLEUR'
                            },
                            {
                                libelle: "Locataire",
                                valeur: 'LOCATAIRE'
                            }
                        ],
                    },
                    {
                        label: "Votre locataire était-elle la personne recherchée ?",
                        condition: (reponses) => reponses?.statut === 'PROPRIETAIRE_BAILLEUR',
                        champs: "estLocataireVise",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                    {
                        label: "Avez-vous engagé sa responsabilité contractuelle ?",
                        condition: (reponses) => reponses?.statut === 'PROPRIETAIRE_BAILLEUR' && reponses.estLocataireVise,
                        info: "Vous pouvez engager sa responsabilité contractuelle (article 1732 du code civil)",
                        champs: "engageResponsabiliteLocataire",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                    {
                        label: "Avez-vous pris contact avec votre assurance habitation ?",
                        champs: "contacteAssurance",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                    {
                        label: "Avez-vous l'attestation de non prise en charge du sinistre par votre assurance ?",
                        champs: "attestationAssurance",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                    {
                        label: "Avez-vous pris contact avec votre bailleur ?",
                        condition: (reponses) => reponses?.statut === 'LOCATAIRE',
                        info: "Celui-ci a, à votre égard, une obligation de sécurité (article 170 du code civil)",
                        champs: "contacteBailleur",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    }
                ],
                decisions: [
                    {
                        type: "error",
                        condition: (reponses) => reponses?.estVise === true,
                        eligible: false,
                        titre: "Vous n'êtes pas éligible",
                        message: "[CONCERNÉ ERREUR]<br/><br/>En étant concerné par l'opération de police judiciaire, vous ne pouvez prétendre à une quelconque indemnisation.<br/>"
                    },
                    {
                        type: "error",
                        condition: (reponses) => reponses?.estRecherche === true,
                        eligible: false,
                        titre: "Vous n'êtes pas éligible",
                        message: "[RECHERCHÉ ERREUR]<br/><br/>Si la personne recherchée réside oh est hébergée dans le logement dont la porte a été fracturée dans le cadre l'opération de police judiciaire, vous ne pouvez prétendre à une quelconque indemnisation.<br/>"
                    },
                    // Cas non contacté assurance
                    {
                        type: "warning",
                        titre: "Contactez votre assurance",
                        condition: (reponses) => reponses?.contactAssurance === false,
                        message: "[PAS ENCORE CONTACTE ASSURANCE]<br/><br/>Faites-le c'est mieux",
                    },
                    // Cas sans attestation assurance
                    {
                        type: "warning",
                        titre: "Rapprochez-vous de votre assurance",
                        condition: (reponses) => reponses?.attestationAssurance === false,
                        message: "[PAS ENCORE CONTACTE ASSURANCE]<br/><br/>Afin d'obtenir l'attestation de non-prise en charge. Celle-ci est nécessaire pour valider une indemnisation de notre part.",
                    },
                    // Cas ok tout va bien
                    {
                        type: "success",
                        condition: (reponses) => {
                            return (reponses?.statut === 'LOCATAIRE' && ![null, undefined].includes(reponses.contacteBailleur))
                                || (reponses.attestationAssurance)
                            ;
                        },
                        titre: "Vous êtes éligible",
                        message: "[OK]<br/><br/>Vous remplissez tous les critères pour déposer un dossier de demande d'indemnisation.<br/><br/>Nous vous invitons à créer un compte dès maintenant en cliquant sur le bouton ci-dessous."
                    }
                ],
                reinitialiser() {
                    this.reponses = {};
                    this.decision = null;
                }
            };
        };
    </script>
{% endblock javascripts %}
