{% extends 'base_react.html.twig' %}

{% block title %}Bris de porte: tester mon éligibilité{% endblock %}

{% block main %}
  <div {{ stimulus_controller('bris_porte_test_eligibilite',{}) }}></div>
{% endblock %}
