{% extends 'index.html.twig' %}

{% block title %}Bris de porte : tester mon éligibilité{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('build/alpinejs/cdn.js') }}" defer></script>
    <style>
        /**
        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
        */

        /* AlpineJS */
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

{% block modale %}
<dialog aria-labelledby="modale-test-eligibilite-title" id="modale-test-eligibilite" class="fr-modal" role="dialog"
        data-fr-opened="true">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-8">
                <div class="fr-modal__body">
                    <form
                        name="eligibilite-test-form"
                        action="{{ url(app.current_route) }}"
                        method="POST"
                        x-data="eligibiliteTestForm()"
                        {# x-init="$watch('reponses', )" #}
                    >
                        <div class="fr-modal__header">
                            <button
                                class="fr-btn--close fr-btn"
                                aria-controls="modale-test-eligibilite"
                                type="button"
                                @click="reinitialiser()"
                            >Fermer
                            </button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-foo-modal" class="fr-modal__title">Tester mon éligibilité à l'indemnisation</h1>

                            <p x-show="false">
                                La porte de votre logement a été fracturé par les forces de police dans le cadre d'une opération judiciaire.
                            </p>

                            {# Questions #}
                            <template x-for="(question, index) in questions">
                                <fieldset class="fr-fieldset" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages" x-show="estActive(question) || estRepondue(question)" x-transition.duration.500ms>
                                    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend" x-text="question.label"></legend>

                                    <template x-for="(reponse, indexReponse) in question.reponses" :key="`question-${index}`">
                                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                                            <div class="fr-checkbox-group">
                                                <input
                                                    :id="`question-${index}-reponse-${indexReponse}`"
                                                    :name="question.champs"
                                                    :value="reponse.value"
                                                    :disabled="decision"
                                                    type="checkbox"
                                                    @click="repondre(question, reponse)"
                                                />
                                                <label class="fr-label" for="checkboxes-inline-1" :for="`question-${index}-reponse-${indexReponse}`" x-text="reponse.libelle"></label>
                                            </div>
                                        </div>
                                    </template>

                                </fieldset>
                            </template>

                            {# Décisions #}
                            <div
                                class="fr-alert"
                                :class="decision ? `fr-alert--${decision?.type}` : null"
                                x-show="!!decision"
                                x-cloak
                            >
                                <h3 class="fr-alert__title" x-text="decision?.titre"></h3>
                                <p x-html="decision?.message"></p>
                            </div>
                        </div>

                        <div class="fr-modal__footer">
                            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg">
                                <button
                                    x-show="true"
                                    x-cloak
                                    class="fr-btn fr-btn--tertiary-no-outline"
                                    aria-controls="modale-test-eligibilite"
                                    data-fr-js-modal-button="true"
                                    @click="reinitialiser()"
                                    type="button"
                                >Annuler
                                </button>
                                <button
                                    class="fr-btn"
                                    type="submit"
                                    :disabled="!decision || !(decision?.eligible ?? true)"
                                    x-cloak
                                >Faire ma demande
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endblock modale %}

{% block appelAAction %}
    <button class="fr-btn fr-p-3v" data-fr-opened="false" aria-controls="modale-test-eligibilite">
        <span class="text-center full-width">Déposer votre demande d’indemnisation</span>
    </button>
{% endblock appelAAction %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function eligibiliteTestForm() {
            return {
                reponses: {},
                decision: null,
                estApplicable(question) {
                    /** Une question est applicable si elle n'a pas de champs fonction `condition` définie ou si
                     * est satisfaite par l'état actuel des réponses du questionnaire.
                     */
                    return !question.condition || question.condition(this.reponses);
                },
                estActive(question) {
                    /**
                     * Une question est active si aucune décision n'a encore été rendue, si elle est applicable, pas
                     * encore répondue et si toutes les questions précédentes ont une réponse ou ne sont pas
                     * applicables.
                     */
                    return !this.decision &&
                        !this.estRepondue(question) &&
                        this.estApplicable(question) &&
                        this.questions.slice(0, this.questions.indexOf(question)).every(
                            (questionPrecedente) => this.estRepondue(questionPrecedente) || !this.estApplicable(questionPrecedente)
                        );
                },
                estRepondue(question) {
                    return ![null, undefined].includes(this.reponses[question.champs]);
                },
                repondre(question, reponse) {
                    if (this.reponses[question.champs] === reponse.valeur) {
                        this.reponses[question.champs] = null;
                    } else {
                        this.reponses[question.champs] = reponse.valeur;
                    }
                    // Supprimer les réponses aux questions suivantes (cas du changement de réponse)
                    for (let champs of Array.from(this.questions.slice(this.questions.indexOf(question) + 1).map((q) => q.champs))) {
                        delete this.reponses[champs];
                    }

                    // Recalculer ?
                    this.decision = this.decisions.find((decision) => decision.condition(this.reponses)) ?? null;
                },
                questions: [
                    {
                        label: "Êtes-vous la personne visée par l'opération des forces de l'ordre ?",
                        champs: 'estVise',
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ]
                    },
                    {
                        label: "Est-ce que la personne recherchée réside ou est hébergée à cette adresse ?",
                        champs: 'estRecherche',
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ]
                    },
                    {
                        label: "Quel est votre statut par rapport au logement ?",
                        champs: "estProprietaire",
                        reponses: [
                            {
                                libelle: "Propriétaire",
                                valeur: true
                            },
                            {
                                libelle: "Locataire",
                                valeur: false
                            }
                        ],
                    },
                    {
                        label: "Avez-vous contacté votre assurance habitation et obtenu, si nécessaire, une attestation de non prise en charge du sinistre ?",
                        champs: "aContacteAssurance",
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                    {
                        label: "Avez-vous pris contact avec votre bailleur car celui-ci a, à votre égard, une obligation de sécurité (article 170 du code civil) ?",
                        champs: "aContacteBailleur",
                        condition: (reponses) => reponses?.estProprietaire === false    ,
                        reponses: [
                            {
                                libelle: "Oui",
                                valeur : true,
                            },
                            {
                                libelle: "Non",
                                valeur : false,
                            }
                        ],
                    },
                ],
                decisions: [
                    {
                        type: "error",
                        condition: (reponses) => reponses?.estVise === true,
                        eligible: false,
                        titre: "Vous n'êtes pas éligible",
                        message: "[CONCERNÉ ERREUR]<br/><br/>En étant concerné par l'opération de police judiciaire, vous ne pouvez prétendre à une quelconque indemnisation.<br/>"
                    },
                    {
                        type: "error",
                        condition: (reponses) => reponses?.estRecherche === true,
                        eligible: false,
                        titre: "Vous n'êtes pas éligible",
                        message: "[RECHERCHÉ ERREUR]<br/><br/>Si la personne recherchée réside oh est hébergée dans le logement dont la porte a été fracturée dans le cadre l'opération de police judiciaire, vous ne pouvez prétendre à une quelconque indemnisation.<br/>"
                    },
                    // Cas propriétaire pas contacté assurance
                    {
                        type: "warning",
                        titre: "[Inciter la démarche 4]",
                        condition: (reponses) => reponses?.estProprietaire && reponses?.aContacteAssurance === false,
                        message: "[Inciter la démarche 4]<br/><br/>Propriétaire rapprochez-vous de votre assurance habitation",
                    },
                    // Cas locataire pas contacté assurance
                    {
                        type: "warning",
                        titre: "[Inciter la démarche 6]",
                        condition: (reponses) => reponses?.estProprietaire === false && reponses?.aContacteAssurance === false,
                        message: "[Inciter la démarche 6]<br/><br/>Propriétaire rapprochez-vous de votre assurance habitation",
                    },
                    // Cas locataire pas contacté bailleur
                    {
                        type: "warning",
                        titre: "[Inciter la démarche 8]",
                        condition: (reponses) => reponses?.estProprietaire === false && reponses?.aContacteBailleur === false,
                        message: "[Inciter la démarche 8]<br/><br/>Propriétaire rapprochez-vous de votre bailleur",
                    },
                    // Cas ok tout va bien
                    {
                        type: "success",
                        condition: (reponses) => reponses?.aContacteAssurance && (reponses?.estProprietaire || reponses?.aContacteBailleur),
                        titre: "Vous êtes éligible",
                        message: "[OK]<br/><br/>Vous remplissez tous les critères pour déposer un dossier de demande d'indemnisation.<br/><br/>Nous vous invitons à créer un compte dès maintenant en cliquant sur le bouton ci-dessous."
                    }
                ],
                reinitialiser() {
                    this.reponses = {};
                    this.decision = null;
                }
            };
        };
    </script>
{% endblock javascripts %}
