{% extends 'base.html.twig' %}

{% block title %}Bris de porte : contactez-nous{% endblock %}

{% block main %}
<div class="fr-container fr-my-3w">
    {#  Indicateur d'étapes #}
    <div class="fr-stepper">
        <h2 class="fr-stepper__title">
            Contactez-nous
            <span class="fr-stepper__state">Étape 3 sur 3</span>
        </h2>
        <div class="fr-stepper__steps" data-fr-current-step="3" data-fr-steps="3"></div>
    </div>

    <div class="fr-grid-row fr-mb-6w">
        <h3>Contactez-nous</h3>

        <div class="fr-alert fr-alert--info">
            <h3 class="fr-alert__title">Notre application n’est pas encore fonctionnelle sur votre territoire : {{ testEligibilite.departement.nom }} ({{ testEligibilite.departement.code }})</h3>

            <p>
                Nous sommes en cours de déploiement. Nous vous invitons à nous faire parvenir votre dossier avec l’ensemble
                des documents nécessaires (voir ci-dessous) à cette adresse mail : <a data-mailto="{{ precontentieux_courriel_equipe|base64_encode }}" href="mailto:"></a>
            </p>

        </div>

        <div class="fr-my-3w">
            <p>
                Les documents à joindre obligatoirement à votre demande d’indemnisation selon votre situation :
            </p>

            <ul>
                <li>
                    L'attestation d’information complétée, remise par les forces de l’ordre
                </li>
                <li>
                    Photo de la porte endommagée
                </li>
                <li>Attestation de non prise en charge du sinistre par votre assurance habitation</li>
                 {% if not testEligibilite.estProprietaire %}
                    <li>
                        Attestation de non prise en charge des réparations par votre bailleur
                    </li>
                {% endif %}
                <li>
                    Copie recto-verso de votre pièce d’identité ou un extrait Kbis de moins de 3 mois (si vous êtes une personne morale)
                </li>
                <li>
                    <a class="fr-link" aria-describedby="tooltip-facture" id="link-tooltip-facture" href="#">Facture acquittée</a> attestant de la réalité des travaux de remise en état à l'identique
                    <span class="fr-tooltip fr-placement" id="tooltip-facture" role="tooltip" aria-hidden="true">Seuls les frais de remise en état à l’identique de la porte endommagée seront remboursés.</span>
                </li>
                {% if testEligibilite.estProprietaire %}
                    <li>Votre titre de propriété,</li>
                {% endif %}
                {% if not testEligibilite.estProprietaire %}
                    <li>Le contrat de bail.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {# Résolution des adresses courriel "obscurcies" (i.e. masquées dans la page pour éviter le spam) en décodant la valeur en base64 assignée au lien par l'attribut `data-mailto` #}
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('a[data-mailto]').forEach(
                (link) => {
                    const email = window.atob(link.getAttribute('data-mailto'))

                    if (email) {
                        link.setAttribute('href', 'mailto:'.concat(email));
                        link.textContent = email;
                    }
                }
            );
        });
    </script>
{% endblock javascripts %}
