{% extends 'base.html.twig' %}

{% block title %}Bris de porte : tester mon éligibilité{% endblock %}

{% block main %}
    <div id="react-app"></div>
{% endblock main %}

{% block javascripts %}
    <script id="react-arguments" type="application/json">
    {{ { "_token" : form._token.vars.value, "estIssuAttestation": form.estIssuAttestation.vars.value }|json_encode()|raw }}



    </script>

    {% if est_vite_server_actif() %}
        {% include '_vite_hmr_extra.html.twig' %}
    {% endif %}

    {{ vite_entry_script_tags('requerant/dossier/tester_mon_eligibilite') }}

    {{ parent() }}

{% endblock javascripts %}
