{% extends 'base_react.html.twig' %}

{% block title %}{{'admin.homepage.title'|trans}}{% endblock %}

{% block body %}
  {% set user = app.user %}
  <div {{ stimulus_controller('dossier_redacteur_list',{
    user: user|serialize('json',{groups: 'user:read'}),
    breadcrumb: breadcrumb|serialize('json'),
    brisPortes: brisPortes|serialize('json',{groups: 'prejudice:read'}),
    version: {label: 'beta'}
  }) }}></div>
{% endblock %}
