<nav id="fr-header-main-navigation" class="fr-nav" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
        <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="#" class="fr-nav__link">Mes dossiers</a>
        </li>
    </ul>
</nav>