{% extends 'base.html.twig' %}

{% block header_extra %}
    <p class="fr-badge fr-badge--info fr-badge--no-icon">Espace agent</p>
{% endblock header_extra %}

{% block header_menu %}
    <ul class="fr-btns-group">
        <li>
            <span class="fr-btn fr-icon-account-circle-line">{{ app.user }}</span>
        </li>
        <a class="fr-btn fr-icon-logout-box-r-line"
           href="{{ path('app_agent_securite_deconnexion') }}">Déconnexion</a>
        </li>
    </ul>
{% endblock header_menu %}

{% block navigation_menu %}
    <nav id="fr-header-main-navigation" class="fr-nav" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
            <li class="fr-nav__item" data-fr-js-navigation-item="true">
                <a href="#" class="fr-nav__link">Mes dossiers</a>
            </li>
        </ul>
    </nav>
{% endblock navigation_menu %}