{% extends 'agent/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {# {{ parent() }} #}
    {{ encore_entry_script_tags('app') }} #}
{% endblock %}

{% block main %}
  <div className="fr-grid-row">
    <div id="react-app">
        {% block react %}
        {% endblock react %}
    </div>
  </div>

{% endblock main %}