{% extends'agent/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        main {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    </style>
{% endblock stylesheets %}


{% block main %}

    <div class="fr-container fr-container--fluid">
        <div class="fr-grid-row">

            <div class="fr-col-12">
                <h1>Mon compte</h1>

                <div class="fr-grid-row">
                    <div class="fr-input-group fr-col-12 fr-col-lg-6">

                        <fieldset class="fr-fieldset" aria-labelledby="legende-mon-compte">
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="legende-mon-compte">
                                À propos de moi
                            </legend>
                            <div class="fr-fieldset__element">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="mon-prenom">
                                        Prénom {# <span class="fr-hint-text"></span> #}
                                    </label>
                                    <input id="mon-prenom" class="fr-input" type="text" disabled value="{{ app.user.prenom }}">
                                </div>
                            </div>
                            <div class="fr-fieldset__element">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="mon-prenom">
                                        Nom
                                    </label>
                                    <input id="mon-nom" class="fr-input" type="text" disabled value="{{ app.user.nom }}">
                                </div>
                            </div>
                            <div class="fr-fieldset__element">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="mon-courriel">
                                        Nom
                                    </label>
                                    <input id="mon-courriel" class="fr-input" type="email" disabled value="{{ app.user.email }}">
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock main %}