{% extends 'base_react.html.twig' %}

{% block title %}{{'login.title'|trans}}{% endblock %}


{% block body %}
  {% set csrf_token = csrf_token('authenticate') %}
  <div {{ stimulus_controller('security_login',{
    lastUsername: last_username,
    errorMessage: error_message,
    csrfToken: csrf_token,
    breadcrumb: breadcrumb|serialize('json'),
    version: version|serialize('json')
  }) }}></div>
{% endblock %}
