{% extends 'base_react.html.twig' %}

{% set title = 'Se connecter à mon espace' %}

{% block main %}
  {% set csrf_token = csrf_token('authenticate') %}
  <div {{ stimulus_controller('security_login',{
    lastUsername: last_username,
    errorMessage: error_message,
    csrfToken: csrf_token,
  }) }}></div>
{% endblock %}
