{% extends 'base_react.html.twig' %}

{% set title = 'Créer un compte' %}

{% block main %}
  {% set csrf_token = csrf_token('authenticate') %}
  {% set user = app.user is not null ? app.user : empty_user() %}
  <div {{ stimulus_controller('security_inscription',{
    user: user|serialize('json',{groups: 'user:read'}),
    csrfToken: csrf_token,
  }) }}></div>
{% endblock %}
