{% extends 'base_react.html.twig' %}

{% block title %}{{'security.reset_password.title'|trans}}{% endblock %}

{% block body %}
{% set csrf_token = csrf_token('authenticate') %}
<div {{ stimulus_controller('security_reinit_password',{
  user: user|serialize('json'),
  csrfToken: csrf_token,
  successMsg: successMsg,
  breadcrumb: breadcrumb|serialize('json'),
  version: version|serialize('json')
}) }}></div>
{% endblock %}
