{% extends 'base.html.twig' %}

{% block title %}Mettre à jour mon mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        button.fr-btn--input-overlay {
            padding:0;
            position: absolute;
            top: 0.75rem;
            right: .5rem;
            bottom: 0.75rem;
            width: 2rem;
            height: 2rem;
            --icon-size: 1rem;
            vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
            margin: auto;
            pointer-events: all;
            z-index:10;
            background-color:transparent;
            color: white;
        }

        button.fr-btn--input-overlay:hover {
            background-color:transparent !important;
            color: black;
        }

        button.fr-btn--input-overlay *:hover {
            background-color:transparent;
            color: inherit;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
<div class="fr-container">

    <h1>Mettre à jour mon mot de passe</h1>
</div>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">



        <div class="fr-col-lg-4 fr-col-12">
            <form name="reinitialisation-mot-de-passe" action="{{ url(app.current_route, {'jeton': requerant.jetonVerification}) }}" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="email" value="{{ requerant.email }}">

                <div class="fr-input-group">
                    <label class="fr-label" for="mot-de-passe">Nouveau mot de passe:</label>
                    <div class="fr-input-wrap">
                        <input class="fr-input" type="password" id="mot-de-passe" name="mot-de-passe" required>
                        {# Brouillon: champs mots de passe révélable
                        <button role="button" class="fr-btn fr-btn--tertiary-no-outline fr-btn--input-overlay" onclick="event.preventDefault();">
                            <span class="fr-icon-eye-line" aria-hidden="true"></span>
                        </button>
                        #}
                    </div>
                </div>

                <div class="fr-input-group">
                    <label class="fr-label" for="confirmation">Confirmation du mot de passe:</label>
                    <input class="fr-input" type="password" id="confirmation" name="confirmation" required>
                    {# <p class="fr-error-text">
                      Les deux mots de passe ne sont pas identiques.
                    </p>
                     #}
                </div>

                <button class="fr-btn" type="submit">Enrigistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
