{% set delaiExpirationHeure = expiresAtMessageData['%count%']|number_format %}

<html>
  <head>
    <title>Mon indemnisation Justice : réinitialisation de votre mot de passe</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez trouver ci-après le lien à suivre pour effectuer cette action :</p>
    <div style="text-align: center;">
      <a href="{{ signedUrl|raw }}">Lien de mise à jour du mot de passe</a>
    </div>
    <p>
      Ce lien expire dans {{ delaiExpirationHeure }} heure{% if delaiExpirationHeure > 1 %}s{% endif %}.
    </p>
    <p>
      Cordialement,<br/>
      L'équipe PRECONTENTIEUX
    </p>
  </body>
</html>
