{% extends 'base_react.html.twig' %}

{% block title %}{{'security.success.title'|trans}}{% endblock %}


{% block body %}
  <div {{ stimulus_controller('security_success',{
    user: user|serialize('json',{groups: 'user:read'}),
    breadcrumb: breadcrumb|serialize('json'),
    version: version|serialize('json')
  }) }}></div>
{% endblock %}
