{% include 'courrier/_corps_introduction.html.twig' %}
<p>
    Il résulte de l’examen de votre dossier, qu’eu égard aux circonstances et dans la mesure où vous êtes
    tiers à l'opération de police judiciaire, il appartient au ministère de la Justice de prendre en
    charge les frais de réparation au titre de la responsabilité sans faute de l'État pour rupture
    d'égalité devant les charges publiques.
</p>

<p>
    En conséquence, je propose de vous allouer une indemnité définitive de
    <b>{{ montantIndemnisation|montant_litteral }}
        ({{ montantIndemnisation|number_format(2, ',', ' ') }} EUR)</b> toutes causes de
    préjudices confondues. Cette proposition tient compte de la facture transmise.
</p>

<p>Je vous saurais gré de bien vouloir m’indiquer si cette proposition recueille votre assentiment et,
    dans
    l’affirmative, me renvoyer la déclaration d’acceptation ci-jointe - dûment renseignée et signée –
    via votre
    espace personnel - en rappelant la référence précitée.
</p>

<p>Enfin, je vous précise qu’en cas de désaccord avec cette proposition, vous pouvez engager une action
    contentieuse en assignant l’agent judiciaire de l’État devant le tribunal judiciaire
    territorialement
    compétent. S’agissant d’une procédure avec représentation obligatoire, il vous appartient de vous
    rapprocher
    des services d’un avocat.
</p>

<p>Je vous prie de croire, {{ dossier.requerant.personnePhysique.civilite.libelle }}, à l’expression de ma considération
    distinguée.</p>