<p>En absence d’erreur de porte commise par les forces de l’ordre et en application de l’article 1732 du code civil, il revient au locataire, de répondre des dégradations ou des pertes qui surviennent pendant la période où il occupe les lieux, sauf s'il prouve qu’elles ont eu lieu sans sa faute.</p>

<p>Par ailleurs, l’article 7 de la Loi n° 89-462 du 6 juillet 1989 impose au locataire d’user paisiblement des locaux conformément à leur destination contractuelle et de s'assurer contre les risques dont il doit répondre en tant que locataire.</p>

<p>En l'espèce, les dommages causés à la porte de votre bien immobilier résultent d'une opération de police judiciaire visant votre locataire, sans qu'il n'y ait eu d'erreur de porte de la part des forces de l’ordre. Ainsi, conformément aux textes précités, il appartient à votre locataire de répondre des dommages causés engageant sa responsabilité contractuelle, ces derniers n’ayant pas à être pris en charge par l’Etat sur le fondement de la rupture de l’égalité devant les charges publiques.</p>

<p>Par ailleurs, l'instruction de votre demande n'a pas permis de mettre en évidence un dysfonctionnement du service public de la justice au sens de l'article L 141-1 du code de l'organisation judiciaire.</p>

<p>En conséquence, j'ai le regret de vous informer qu'il ne peut être réservé une suite favorable à votre requête.</p>

<p>Je vous précise qu’en cas de désaccord avec cette décision, vous pouvez engager une action contentieuse en assignant l’agent judiciaire de l’État devant le tribunal judiciaire territorialement compétent. S’agissant d’une procédure avec représentation obligatoire, il vous appartient de vous rapprocher des services d’un avocat.</p>

<p>Je vous prie de croire, {{ dossier.requerant.personnePhysique.civilite.libelle }}, à l’expression de ma considération distinguée.</p>
