backend/var/
backend/vendor/
backend/node_modules/
frontend/node_modules/
frontend/.vite/
frontend/preview/
docs/
end2end/**
!end2end/package.json
!end2end/playwright.config.ts
fichiers/
**/.gitkeep
**/.gitignore
.env.*
**/.DS_Store

