###> symfony/framework-bundle ###
/.env.dev
/.env.prod
/.env.test
/.env.ci
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###
/public/dsfr/
/public/remixicon/
/public/screenshots/
compose.override.yaml

.docker/postgres/data
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/drivers/
###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
/public/preview/
###< pentatrion/vite-bundle ###

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
