# Docker
.docker/postgres/data/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Au cas où
.env
.env.dev
.env.prod
.env.test
.env.ci

**/.vite

/.php-cs-fixer.php
.php-cs-fixer.cache