{% extends 'base.html.twig' %}

{% block title %}Traitement du bris de porte {{ brisPorte.reference }}{% endblock %}

{% block main %}
<div class="fr-container">
  <h1>Traitement du bris de porte {{ brisPorte.reference }}</h1>

  <p>À implémenter</p>
</div>
{% endblock main %}
