<html>
  <head>
    <title>Mon Indemnisation Justice : activation de votre compte</title>
  </head>
  <body>
    <p>
      "Bonjour {{ nom_complet }},<br/>
      Nous prenons acte de votre ouverture de compte à l'application Mon Indemnisation Justice. Pour finaliser l'activation de votre compte, veuillez cliquez sur le lien suivant :  <a href="{{ signedUrl|raw }}">lien de confirmation</a>
    </p>
    <p>
      Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
    <p>
      Cordialement,<br/>
      L'équipe Mon Indemnisation Justice
    </p>
  </body>
</html>
