<h1>Bonjour {{user.email}}</h1>

<p>
Veuillez trouver ci-après votre nouveau mot de passe pour vous connecter à l'application PRECONTENTIEUX<br><br>
  <table>
    <tr>
      <th>Mot de passe</th>
    </tr>
    <tr>
      <td>{{password}}</td>
    </tr>
  </table>
</p>

<p>
L'équipe PRECONTENTIEUX
</p>
