/**
 * Styles pour l'espace agent.
 */


/** Faire en sorte que le clic sur le label d'une checkbox soit répercutée **/
input[type=radio], input[type=checkbox] {
    z-index: 2 !important;
}

body {
    > main {
        margin-top: 2rem;
    }
}

/** Les champs ayant `fr-requis` auront une petite astérisque pour indiquer qu'ils sont requis */
.fr-input-group.fr-requis label.fr-label::after, .fr-fieldset.fr-requis legend::after {
    content: " *"
}

a:not([href])[role="button"] {
    color: var(--text-action-high-blue-france);
    cursor: pointer;
}


:root {
    /* A_FINALISER = 'beige-gris-galet' */
    --var-couleur-pp-a-finaliser: #6a6156;
    --var-couleur-ap-a-finaliser: #f3ede5;

    /* A_ATTRIBUER = 'blue-ecume' */
    --var-couleur-pp-a-attribuer: #2f4077;
    --var-couleur-ap-a-attribuer: #f4f6fe;

    /* A_INSTRUIRE = 'blue-ecume' */
    --var-couleur-pp-a-instruire: #2f4077;
    --var-couleur-ap-a-instruire: #f4f6fe;

    /* EN_INSTRUCTION = 'info' */
    --var-couleur-pp-en-instruction: #0063cb;
    --var-couleur-ap-en-instruction: #e8edff;
    /* CLOTURE = 'beige-gris-galet' */
    --var-couleur-pp-cloture: #6a6156;
    --var-couleur-ap-cloture: #eee4d9;

    /* OK_A_SIGNER, = 'green-menthe' */
    --var-couleur-pp-ok-a-signer: #66673d;
    --var-couleur-ap-ok-a-signer: #fceeac;
    /* OK_A_APPROUVER, = 'green-bourgeon' */
    --var-couleur-pp-ok-a-approuver: #447049;
    --var-couleur-ap-ok-a-approuver: #c9fcac;
    /* OK_A_VERIFIER, = 'green-bourgeon' */
    --var-couleur-pp-ok-a-verifier: #447049;
    --var-couleur-ap-ok-a-verifier: #c9fcac;
    /* OK_VERIFIE = 'green-emeraude' */
    --var-couleur-pp-ok-verifie: #297254;
    --var-couleur-ap-ok-verifie: #c3fad5;
    /* OK_A_INDEMNISER = 'green-emeraude' */
    --var-couleur-pp-ok-a-indemniser: #297254;
    --var-couleur-ap-ok-a-indemniser: #c3fad5;
    /* OK_EN_ATTENTE_PAIEMENT = 'green-emeraude' */
    --var-couleur-pp-ok-en-attente-paiement: #297254;
    --var-couleur-ap-ok-en-attente-paiement: #c3fad5;
    /* OK_INDEMNISE = 'success' */
    --var-couleur-pp-ok-indemnise: #18753c;
    --var-couleur-ap-ok-indemnise: #b8fec9;
    /* KO_A_SIGNER, = 'pink-tuile' */
    --var-couleur-pp-ko-a-signer: #a94645;
    --var-couleur-ap-ko-a-signer: #fee9e7;
    /* Rejeté, = 'error' */
    --var-couleur-pp-ko-rejete: #ce0500;
    --var-couleur-ap-ko-rejete: #ffe9e9;
}

a:not([href]) {
    color: initial;

    &:not([disabled]) {
        cursor: pointer;
    }
}

.fr-dossier-etat {
    --left-padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid var(--border-default-grey);
    border-left: calc(2 * var(--left-padding)) solid;
    border-radius: var(--left-padding) 0 0 0;

    /* Supprimer la marge du bas pour le group de bouton */
    .fr-btns-group {
        li {
            button {
                margin-bottom: 0 !important;
            }
        }
    }

    &.fr-dossier-etat--a-finaliser {
        border-left-color: var(--var-couleur-pp-a-finaliser);
    }

    &.fr-dossier-etat--a-attribuer {
        border-left-color: var(--var-couleur-pp-a-attribuer);
    }

    &.fr-dossier-etat--a-instruire {
        border-left-color: var(--var-couleur-pp-a-instruire);
    }

    &.fr-dossier-etat--en-instruction {
        border-left-color: var(--var-couleur-pp-en-instruction)
    }

    &.fr-dossier-etat--cloture {
        border-left-color: var(--var-couleur-pp-cloture);
    }

    &.fr-dossier-etat--ok-a-signer {
        border-left-color: var(--var-couleur-pp-ok-a-signer);
    }

    &.fr-dossier-etat--ok-a-approuver {
        border-left-color: var(--var-couleur-pp-ok-a-approuver);
    }

    &.fr-dossier-etat--ok-a-verifier {
        border-left-color: var(--var-couleur-pp-ok-a-verifier);
    }

    &.fr-dossier-etat--ok-verifie {
        border-left-color: var(--var-couleur-pp-ok-verifie);
    }

    &.fr-dossier-etat--ok-a-indemniser {
        border-left-color: var(--var-couleur-pp-ok-a-indemniser);
    }

    &.fr-dossier-etat--ok-en-attente-paiement {
        border-left-color: var(--var-couleur-pp-ok-en-attente-paiement);
    }

    &.fr-dossier-etat--ok-indemnise {
        border-left-color: var(--var-couleur-pp-ok-indemnise);
    }

    &.fr-dossier-etat--ko-a-signer {
        border-left-color: var(--var-couleur-pp-ko-a-signer);
    }

    &.fr-dossier-etat--ko-rejete {
        border-left-color: var(--var-couleur-pp-ko-rejete);
    }
}

.fr-badge--dossier-etat {
    &.fr-badge--dossier-etat--a-finaliser {
        color: var(--var-couleur-pp-a-finaliser);
        background-color: var(--var-couleur-ap-a-finaliser);
    }

    &.fr-badge--dossier-etat--a-attribuer {
        color: var(--var-couleur-pp-a-attribuer);
        background-color: var(--var-couleur-ap-a-attribuer);
    }

    &.fr-badge--dossier-etat--a-instruire {
        color: var(--var-couleur-pp-a-instruire);
        background-color: var(--var-couleur-ap-a-instruire);
    }

    &.fr-badge--dossier-etat--en-instruction {
        color: var(--var-couleur-pp-en-instruction);
        background-color: var(--var-couleur-ap-en-instruction);
    }

    &.fr-badge--dossier-etat--cloture {
        color: var(--var-couleur-pp-cloture);
        background-color: var(--var-couleur-ap-cloture);
    }

    &.fr-badge--dossier-etat--ok-a-signer {
        color: var(--var-couleur-pp-ok-a-signer);
        background-color: var(--var-couleur-ap-ok-a-signer);
    }

    &.fr-badge--dossier-etat--ok-a-approuver {
        color: var(--var-couleur-pp-ok-a-approuver);
        background-color: var(--var-couleur-ap-ok-a-approuver);
    }

    &.fr-badge--dossier-etat--ok-a-verifier {
        color: var(--var-couleur-pp-ok-a-verifier);
        background-color: var(--var-couleur-ap-ok-a-verifier);
    }

    &.fr-badge--dossier-etat--ok-verifie {
        color: var(--var-couleur-pp-ok-verifie);
        background-color: var(--var-couleur-ap-ok-verifie);
    }

    &.fr-badge--dossier-etat--ok-a-indemniser {
        color: var(--var-couleur-pp-ok-a-indemniser);
        background-color: var(--var-couleur-ap-ok-a-indemniser);
    }

    &.fr-badge--dossier-etat--ok-en-attente-paiement {
        color: var(--var-couleur-pp-ok-en-attente-paiement);
        background-color: var(--var-couleur-ap-ok-en-attente-paiement);
    }

    &.fr-badge--dossier-etat--ok-indemnise {
        color: var(--var-couleur-pp-ok-indemnise);
        background-color: var(--var-couleur-ap-ok-indemnise);
    }

    &.fr-badge--dossier-etat--ko-a-signer {
        color: var(--var-couleur-pp-ko-a-signer);
        background-color: var(--var-couleur-ap-ko-a-signer);
    }

    &.fr-badge--dossier-etat--ko-rejete {
        color: var(--var-couleur-pp-ko-rejete);
        background-color: var(--var-couleur-ap-ko-rejete);
    }
}


.mij-dossier-documents {
    .mij-dossier-documents-liste {
        border-right: 1px solid var(--border-default-grey);
        padding-right: 1.5rem;

        ul {
            list-style: outside none;

            li {

                &[data-section-vide] {
                    color: var(--text-mention-grey);
                    opacity: 0.6;

                }

                &[data-section-active] {
                    font-weight: bolder;
                }

                &[data-document-selectionne] {
                    font-weight: bold;

                    a {
                        color: var(--text-default-info);
                    }

                }

                a {
                    padding: 0;
                    text-decoration: none;
                }
            }
        }

        > ul {
            font-size: .9rem;

            > ul {
                font-size: .8rem;
            }
        }
    }
}

/* Quill editor */

.quill {
    width: 100%;
    padding-bottom: 3rem;
}

.ql-editor {
    * {
        font: 1rem arial !important;
        cursor: text;
    }

    a {
        color: #5e95d6;;
    }

    strong {
        font-weight: bold !important;
    }

    p {
        margin: 12pt 0 !important;
        letter-spacing: 0;
        font-size: 11pt;
        line-height: 13pt;
    }
}

