<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" href="/dsfr/favicon/apple-touch-icon.png"/>
    <link rel="icon" href="/dsfr/favicon/favicon.svg" type="image/svg+xml"/>
    <link rel="shortcut icon" href="/dsfr/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="manifest" href="/dsfr/favicon/manifest.webmanifest"
          crossorigin="use-credentials"/>

    <link rel="preload" href="/dsfr/dsfr/fonts/Marianne-Regular.woff2" as="font"
          crossorigin="anonymous"/>

    <link rel="preload" href="/dsfr/dsfr/fonts/Marianne-Medium.woff2" as="font"
          crossorigin="anonymous"/>
    <link rel="preload" href="/dsfr/dsfr/fonts/Marianne-Bold.woff2" as="font"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/dsfr/main.css"/>

    {% block title %}Mon Indemnisation Justice : espace Forces de l'Ordre{% endblock title %}
    {% block stylesheets %}
        {{ vite_entry_link_tags('agent/fdo') }}
    {% endblock stylesheets %}
</head>
<body>
</body>
</html>

{% block javascripts %}
    {% if est_vite_server_actif() %}
        {% include '_vite_hmr_extra.html.twig' %}
    {% endif %}

    {#
    <script type="application/json" id="react-args">
        {{ react|default({})|json_encode()|raw }}
    </script>
    #}

    {{ vite_entry_script_tags('agent/fdo') }}
{% endblock javascripts %}