{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .undraw-map {
            height: 25rem;
            width: 100%;
            background-image: url("{{ asset('images/undraw_server_down.svg') }}");
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <div class="fr-container fr-my-3w">
        <div class="fr-grid-row">
            <div class="fr-pt-6w fr-pb-12w fr-col-8">
                <h1>Une erreur est survenue.</h1>
                <p>
                    Le chargement de la page n'a pu aboutir en raison d'une erreur dans notre système.
                </p>
                <p>
                    Nous sommes sincèrement désolé pour la gêne occasionnée, nous mettons tout en œuvre pour que
                    ceci ne se reporduise plus à l'avenir.</p>
                <p>
                    Nous vous invitons à retourner à <a href="{{ path('app_homepage') }}">l'accueil</a>.
                </p>
            </div>
            <div class="fr-pt-6w fr-py-2w fr-col-4">
                <div class="undraw-map"></div>
            </div>
        </div>
    </div>>
{% endblock main %}