<html>
  <head>
    <title>Précontentieux : Votre déclaration de bris de porte a bien été pris en compte</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>Vous avez déclaré un bris de porte ce jour. Nos services mettent tout en œuvre afin de revenir vers vous dans les meilleurs délais.</p>
    <p>Nous tenons à vous préciser que le pôle Précontentieux est un pôle national qui reçoit beaucoup de demandes d'indemnisation
    quotidiennement et traite différentes catégories de dossiers.<br/>
    De plus, l'instruction des demandes nécessite le recueil d'informations auprès des forces de l'ordre ou des autorités judiciaires.<br/>
    Enfin, le règlement de l'indemnité est effectué par le bureau du budget dont les délais de traitement sont à prendre en compte.
    </p>
    <p>
      <strong>Référence du dossier à rappeler dans toutes vos correspondances : {{ reference }}</strong>
    </p>
    <p>
      <strong>Numéro de suivi pour suivre l'avancement de votre dossier : {{ raccourci }}</strong>
    </p>
    <p>
    Cordialement,<br/>
    L'équipe PRECONTENTIEUX
    </p>
  </body>
</html>
