<html>
  <head>
    <title>{{'bris_porte.edit.email.title'|trans}}</title>
  </head>
  <body>
    <p>{{nomComplet}},<p>
    <p>{{'bris_porte.edit.email.content'|trans|replace({'%reference%':reference})|raw}}</p>
  </body>
</html>
