<html>
  <head>
    <title>Précontentieux : Une décision a été prise concernant votre déclaration de bris de porte</title>
  </head>
  <body>
    <p>{{ nomComplet }},<p>
    <p>
      <b>Référence du dossier à rappeler : {{ reference }}</b>
      <p>Le traitement consécutif à votre bris de porte a été effectué. Veuillez vous connecter sur le site afin de consulter la décision</p>
      <p>
      Cordialement,<br/>
      L'équipe PRECONTENTIEUX
      </p>
    </p>
    <a href="{{ url }}">Je me connecte</a>
  </body>
</html>
