{% extends 'base_react.html.twig' %}

{% block title %}Traitement du bris de porte {{ brisPorte.reference}}{% endblock %}

{% block main %}
  {% set user = app.user %}
  <div {{ stimulus_controller('bris_porte_view',{
    user: user|serialize('json',{groups: 'user:read'}),
    brisPorte: brisPorte|serialize('json',{groups: 'prejudice:read'}),
    prejudice: brisPorte|serialize('json',{groups: 'prejudice:write'}),
  }) }}></div>
{% endblock %}
