{% extends 'base_react.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{#
{% block stylesheets %}
  {{ parent() }}

  <style>
    .pr-content {
      position: relative;
      background-color: var(--background-alt-grey);
      z-index: 0; }
    .pr-content_header .pr-whoami {
      position: relative;
      min-height: 20rem;
    }
    .pr-content_header .pr-whoami::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: -1;
      background-image: url('../images/picture/pic_olympe-site.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .pr-content_header .pr-whoami .pr-whoami_text {
      position: relative;
      width: 55%
    }
    .pr-content_header .pr-whoami .pr-whoami_text::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: -1;
      background-color: var(--pr-bg-color-white);
    }

    .pr-content_body {
      border: 1px solid var(--pr-color-grey);
      background-color: var(--background-default-grey);
    }
    .pr-content_body .pr-requests > ul,  .pr-content_body .pr-requests > ul > li { margin: 0; padding: 0; }
    .pr-content_body .pr-requests ul li { list-style: none; }
    .pr-content_body .pr-requests ul li .fr-tile { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  }

    .pr-service-national_body { background-color: var(--pr-color-grey); }
    .pr-service-national-text { color: var(--pr-bg-color-blue-royal); }
    .pr-service-national-text h3 { color: var(--pr-bg-color-blue-royal); }
    .pr-service-national-illu_france {
      background-image: url('{{ asset('/images/illustration/illu_territoires-france.png') }}');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      min-height: 30rem; width: 100%; }

  </style>
{% endblock %}
 #}

{% block main %}
  <div className="fr-container">
    <div className="fr-grid-row">
      <div className="fr-col-12">
        <h1>Conditions générales d'utilisation</h1>
        <span>...</span>
      </div>
    </div>
  </div>
{% endblock %}
