{% extends 'base_react.html.twig' %}

{% block main %}
  {% set user = app.user is not null ? app.user : empty_user() %}
  <section className="pr-whoami">
      <div className="fr-container">
        <div className="fr-pt-6w fr-pb-12w">
            <div className="pr-whoami_text fr-p-4w">
                <h1>Quelle est la mission du pôle précontentieux ?</h1>
                <p>Situé au sein de la Direction des services judiciaires (DSJ), le <b>pôle précontentieux</b>
                    a pour mission de <b>traiter les demandes amiables d’indemnisation</b> formulées par les usagers
                    ou les tiers en réparation des préjudices causés :<br/>
                    <ul>
                        <li>Soit par le <b>fonctionnement du service public de la justice judiciaire</b></li>
                        <li>Soit par un <b>accident impliquant un véhicule de la Direction des Services
                            Judiciaires</b> (DSJ) du ministère de la Justice.
                        </li>
                    </ul>
                </p>
                <p>Il traite également les demandes amiables d’indemnisation formulées par les usagers ou les
                    tiers en réparation de <b>sinistres survenus au sein d’un bâtiment judiciaire.</b></p>
            </div>
        </div>
      </div>
    </section>
{% endblock %}
