{% extends 'base_react.html.twig' %}

{% block title %}Suivre mon dossier{% endblock %}


{% block main %}
  {% set csrf_token = csrf_token('authenticate') %}
  <div {{ stimulus_controller('homepage_suivi_dossier',{
    raccourci: raccourci,
    statuts: statuts,
    csrfToken: csrf_token
  }) }}></div>
{% endblock %}
