{% extends 'base_react.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block main %}
  <div {{ stimulus_controller('user_list', {
    agents: agents|serialize('json')
  }) }}></div>
{% endblock %}
