{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice: vous avez une nouvelle déclaration d'acceptation à vérifier{% endblock subject %}

{% block entete %}
    <b>Mon Indemnisation Justice: vous avez une nouvelle déclaration d'acceptation à vérifier</b>
{% endblock entete %}


{% block contenu %}
    Bonjour {{ agent.prenom }},
    <br/>
    <br/>
    <p>
        {% if dossier.usager.estFeminin() %}La requérante{% else %}Le requérant{% endif %} {{ dossier.usager.nomCourant }}
        vient d'approuver la proposition d'indemnisation qui lui est
        faite sur le dossier de référence {{ dossier.reference }}.
    </p>
    <p>
        Vous pouvez voir la liste des dossiers en attente de l'arrêté de paiement en cliquant sur le bouton ci-dessous :
    </p>
    <br/>
    <p>
        {{ email.bouton("Dossiers en attente de l'arrêté de paiement", url('agent_fip6_react', {'extra': "dossiers/a-verifier"})) }}
        <br/>
    </p>
    <br/>
    Cordialement,<br/>
{% endblock contenu %}
