{% extends 'agent/base.html.twig' %}

{% block title %}Nouveaux dossiers{% endblock title %}


{% block main %}
    <div id="react-app-agent-recherche-dossiers"></div>
{% endblock main %}

{% block javascripts %}
    <script id="react-arguments" type="application/json">
    {{ react|default({})|json_encode()|raw }}
  </script>
  {% if est_vite_server_actif() %}
      {% include '_vite_hmr_extra.html.twig' %}
  {% endif %}

    {{ vite_entry_script_tags('agent/dossiers/recherche') }}

    {{ parent() }}
{% endblock javascripts %}