.pr-case_bris-de-porte_is-personne-morale { background-color: var(--pr-color-grey--light); }
.pr-form-section {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
dl, dl dt, dl dd { padding: 0; margin: 0; }
