.udraw-terms-conditions {
  height: 25rem;
  width: 100%;
  background-image: url('../images/illustration/undraw_terms-conditions.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.pr-eligibilite_form-group { background-color: var(--background-alt-grey); }

.pr-body_header {
  margin-top: -1rem;
  padding-top: 2rem;
  background-color: var(--background-alt-grey);
}
