
            {# Formulaire #}

            <form
                name="eligibilite-test-form"
                action="{{ url(app.current_route) }}"
                method="POST"
                x-data="eligibiliteTestForm()"
                x-init="$watch('reponses', function(reponses) { statuer(reponses)})"
            >
                <input type="hidden" name="_token" value="{{ form._token.vars.value }}">

                <div class="fr-callout">
                    <h3 class="fr-callout__title">
                        Avant de démarrer le questionnaire
                    </h3>
                    <p class="fr-callout__text">
                        Il est important de noter que vous ne pouvez pas être indemnisé plusieurs fois par différents
                        intermédiaires pour le même préjudice. Afin de garantir
                        <a class="fr-link" aria-describedby="infobulle-respect-principe" id="lien-infobulle-respect-principe" href="#">le respect de ce principe</a>,
                        nous vous prions de bien vouloir répondre aux questions suivantes.
                    </p>
                    <span class="fr-tooltip fr-placement" id="infobulle-respect-principe" role="tooltip" aria-hidden="true">
                        En vertu du principe de réparation intégrale du préjudice sans perte ni profit, la victime d'un
                        dommage ne peut obtenir deux indemnisations distinctes en réparation du même préjudice (Cour de
                        cassation, civile, Chambre civile 2, 16 décembre 2021, 19-11.294, Inédit ; Cour de cassation,
                        civile, Chambre civile 2, 9 février 2023, 21-21.217, Publié au bulletin)
                    </span>
                </div>

                {# Questions #}
                <div class="pr-section-formulaire" x-show="questions.estVise(reponses)">
                    <h4>Personne recherchée</h4>
                    <div
                        class="fr-col-12"
                        x-show="questions.estVise(reponses)"
                        x-model.boolean="reponses.estVise"
                        x-transition.duration.500ms
                    >


                        <fieldset
                            class="fr-fieldset"
                            aria-labelledby="checkboxes-inline-legend"

                        >
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                                Êtes-vous la personne visée par l'opération des forces de l'ordre ?
                            </legend>
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-vise-oui"
                                        name="estVise"
                                        value="true"
                                        :checked="reponses.estVise === true"
                                        @change="reinitialiser('estVise')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-vise-oui" >Oui</label>
                                </div>
                            </div>

                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-vise-non"
                                        name="estVise"
                                        value="false"
                                        :checked="reponses.estVise === false"
                                        @change="reinitialiser('estVise')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-vise-non" >Non</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div
                        class="fr-col-12"
                        x-show="questions.estRecherche(reponses)"
                        x-model.boolean="reponses.estRecherche"
                        x-transition.duration.500ms
                    >
                        <fieldset
                            class="fr-fieldset"
                            aria-labelledby="checkboxes-inline-legend"
                        >
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                                Est-ce que la personne recherchée réside ou est hébergée à cette adresse ?
                            </legend>
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-recherche-oui"
                                        name="estRecherche"
                                        value="true"
                                        :checked="reponses.estRecherche === true"
                                        @change="reinitialiser('estRecherche')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-recherche-oui" >Oui</label>
                                </div>
                            </div>

                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-recherche-non"
                                        name="estRecherche"
                                        value="false"
                                        :checked="reponses.estRecherche === false"
                                        @change="reinitialiser('estRecherche')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-recherche-non" >Non</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="pr-section-formulaire" x-show="questions.estProprietaire(reponses)">
                    <h4>Situation liée au logement et possession des attestations</h4>

                    <div
                        class="fr-col-12"
                        x-show="questions.estProprietaire(reponses)"
                        x-model.boolean="reponses.estProprietaire"
                        x-transition.duration.500ms
                    >
                        <fieldset
                            class="fr-fieldset"
                            aria-labelledby="checkboxes-inline-legend"
                        >
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                                Quel est votre statut par rapport au logement ?
                            </legend>
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-proprietaire-oui"
                                        name="estProprietaire"
                                        value="true"
                                        :checked="reponses.estProprietaire === true"
                                        @change="reinitialiser('estProprietaire')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-proprietaire-oui" >Propriétaire</label>
                                </div>
                            </div>

                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-est-proprietaire-non"
                                        name="estProprietaire"
                                        value="false"
                                        :checked="reponses.estProprietaire === false"
                                        @change="reinitialiser('estProprietaire')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-est-proprietaire-non" >Locataire</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div
                        class="fr-col-12"
                        x-show="questions.aContacteAssurance(reponses)"
                        x-model.boolean="reponses.aContacteAssurance"
                        x-transition.duration.500ms
                    >
                        <fieldset
                            class="fr-fieldset"
                            aria-labelledby="checkboxes-inline-legend"
                        >
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                                Avez-vous contacté votre assurance habitation et obtenu, si nécessaire, une attestation de non prise en charge du sinistre ?
                            </legend>
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-a-contacte-assurance-oui"
                                        name="aContacteAssurance"
                                        value="true"
                                        :checked="reponses.aContacteAssurance === true"
                                        @change="reinitialiser('aContacteAssurance')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-a-contacte-assurance-oui" >Oui</label>
                                </div>
                            </div>

                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-a-contacte-assurance-non"
                                        name="aContacteAssurance"
                                        value="false"
                                        :checked="reponses.aContacteAssurance === false"
                                        @change="reinitialiser('aContacteAssurance')"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-a-contacte-assurance-non" >Non</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div
                        class="fr-col-12"
                        x-show="questions.aContacteBailleur(reponses)"
                        x-model.boolean="reponses.aContacteBailleur"
                        x-transition.duration.500ms
                    >
                        <fieldset
                            class="fr-fieldset"
                            aria-labelledby="checkboxes-inline-legend"
                        >
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-inline-legend">
                                Avez-vous pris contact avec votre bailleur car celui-ci a, à votre égard, une obligation de sécurité (article 1720 du code civil) ?
                            </legend>
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-a-contacte-bailleur-oui"
                                        name="aContacteBailleur"
                                        :checked="reponses.aContacteBailleur === true"
                                        value="true"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-a-contacte-bailleur-oui" >Oui</label>
                                </div>
                            </div>

                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input
                                        id="eligibilite-test-form-a-contacte-bailleur-non"
                                        name="aContacteBailleur"
                                        :checked="reponses.aContacteBailleur === false"
                                        value="false"
                                        type="radio"
                                    />
                                    <label class="fr-label" for="eligibilite-test-form-a-contacte-bailleur-non" >Non</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                {# Décisions #}
                <div
                    class="fr-alert fr-alert--error"
                    x-show="estDecide('error_est_vise')"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous n’êtes pas éligible à l’indemnisation.
                    </h3>
                    <p>
                        Vous ne pouvez prétendre à une indemnisation que si les force de l'ordre ont commis une
                        <a class="fr-link" aria-describedby="infobulle-faute-lourde" id="lien-infobulle-faute-lourde" href="#">faute lourde</a>
                        au cours de leur intervention. Il vous appartiendra de prouver cette faute.
                    </p>
                    <span class="fr-tooltip fr-placement" id="infobulle-faute-lourde" role="tooltip" aria-hidden="true">
                        Constitue une faute lourde toute déficience caractérisée par un fait ou une série de faits
                        traduisant l'inaptitude du service public de la justice à remplir la mission dont il est investi
                        (Cour de Cassation, Assemblée plénière, du 23 février 2001, 99-16.165, Publié au bulletin)
                    </span>
                </div>

                <div
                    class="fr-alert fr-alert--error"
                    x-show="estDecide('error_est_recherche')"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous n’êtes pas éligible à l’indemnisation.
                    </h3>
                    <p>
                        Vous n’êtes pas éligible à l’indemnisation car il n'y a pas d'erreur de la part des forces de
                        l'ordre.
                    </p>
                </div>

                <div
                    class="fr-alert fr-alert--warning"
                    x-show="estDecide('warning_proprietaire_assurance')"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de prendre contact avec votre assurance habitation dès que possible. En cas de refus de prise en charge du sinistre, il est important de demander une attestation de non prise en charge. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-alert--warning"
                    x-show="estDecide('warning_locataire_assurance')"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de prendre contact avec votre assurance habitation dès que possible. En cas de refus de prise en charge du sinistre, il est important de demander une attestation de non prise en charge. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-alert--warning"
                    x-show="estDecide('warning_locataire_bailleur')"
                    x-cloak
                >
                    <p>
                        Nous vous recommandons de prendre contact avec votre bailleur dès que possible, pour obtenir l’attestation de non prise en charge des réparations. Ce document est essentiel pour pouvoir traiter votre demande d’indemnisation.
                    </p>
                </div>

                <div
                    class="fr-alert fr-alert--success"
                    x-show="estDecide('success')"
                    x-cloak
                >
                    <h3 class="fr-alert__title">
                        Vous êtes éligible à l’indemnisation.
                    </h3>
                    <p>
                        Nous vous invitons à suivre les indications afin de créer votre compte et effectuer votre demande
                        d'indemnisation.
                    </p>
                </div>


                {# Boutons #}

                <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-lg">
                    <button
                        class="fr-btn"
                        type="submit"
                        :disabled="decisions.filter(function(decision) { return decision.eligible ?? true}).length === 0"
                        x-cloak
                    >Commencer la demande d'indemnisation
                    </button>
                    <button
                        x-show="true"
                        x-cloak
                        class="fr-btn fr-btn--secondary"
                        aria-controls="modale-test-eligibilite"
                        data-fr-js-modal-button="true"
                        @click="reinitialiser()"
                        type="button"
                    >Annuler la demande d'indemnisation
                    </button>
                </div>

            </form>