{% extends 'index.html.twig' %}

{% block title %}Bris de porte : comment ça marche ?{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('build/alpinejs/cdn.js') }}" defer></script>
    <style>
        /* AlpineJS */
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

{% block appelAAction %}
    <a class="fr-btn fr-p-3v" href="{{ url('bris_porte_tester_eligibilite') }}">
        <span class="text-center full-width">Déposer votre demande d’indemnisation</span>
    </a>
{% endblock appelAAction %}
