[
    {
        "_title": "Attributeur",
        "sub": "14ea0686-9179-447a-a0b0-cdff4419befc",
        "email": "attributeur@justice.gouv.fr",
        "given_name": "Hat",
        "usual_name": "Tributeur",
        "uid": "7301",
        "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
    },
    {
        "_title": "Beta Gouv",
        "sub": "fd38a059-9f32-4b59-8f01-96d3284bf1cc",
        "email": "agent@beta.gouv.fr",
        "given_name": "Betta",
        "usual_name": "Gouve",
        "uid": "1337",
        "idp_id": "71144ab3-ee1a-4401-b7b3-79b44f7daeeb"
    },
    {
        "_title": "Gendarme",
        "sub": "",
        "email": "gendarme@gendarmerie.interieur.gouv.fr",
        "given_name": "Jean",
        "usual_name": "d'Harme",
        "uid": "890",
        "idp_id": "e7782e47-8e0f-4b94-8e21-1197cb6e7143"
    },
    {
        "_title": "Gestion agents",
        "sub": "4c656917-66f8-4f14-a413-49ef964d2bf3",
        "email": "gestion-agents@justice.gouv.fr",
        "given_name": "Jess",
        "usual_name": "Thion-Hajan",
        "uid": "6540",
        "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
    },
    {
        "_title": "Liaison budget",
        "sub": "90d7335e-be32-4780-9bb3-6078f4482ece",
        "email": "liaison@justice.gouv.fr",
        "given_name": "Lison",
        "usual_name": "Bude-Jay",
        "uid": "119",
        "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
    },
    {
        "_title": "Policier",
        "sub": "e316bde4-3d37-4ed8-9001-c40d9b07fe06",
        "email": "policier@interieur.gouv.fr",
        "given_name": "Paul",
        "usual_name": "Issié",
        "uid": "567",
        "idp_id": "ee89db94-64de-4e14-b31a-e93ed3ab1168"
    },
    {
        "_title": "Rédacteur",
        "sub": "c1722a03-4172-4015-9f0d-d1995d4cbe5c",
        "email": "redacteur@justice.gouv.fr",
        "given_name": "Red",
        "usual_name": "Acteur",
        "uid": "1234",
        "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
    },
    {
        "_title": "Validateur",
        "sub": "dda38b83-bca4-4a25-8e2a-d2eb4947f02d",
        "email": "validateur@justice.gouv.fr",
        "given_name": "Walid",
        "usual_name": "Hateur",
        "uid": "551",
        "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
    }
]