<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">Ministère<br>justice</p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-474" id="button-475" title="Rechercher">Rechercher</button>
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-476" aria-haspopup="menu" id="button-477" title="Menu">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Mon Indemnisation Justice"></a>
            <p class="fr-header__service-title">Mon Indemnisation Justice</p>
            {% if false %}
              <p class="fr-header__service-tagline">Espace rédacteur</p>
            {% endif %}
          </div>
        </div>
      <div class="fr-header__tools">
        <div class="fr-header__tools-links">
          <ul class="fr-btns-group">

            {% if not app.user %}
            <li>
              <a class="fr-btn fr-icon-government-line" href="{{path('app_agent_securite_connexion')}}">Agent</a>
            </li>
            <li>
              <a class="fr-btn fr-icon-lock-line" href="{{path('app_login')}}">Se connecter</a>
            </li>
            {% else %}
            <li>
              <a class="fr-btn fr-icon-logout-box-r-line" href="{{path('app_logout')}}">Déconnexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="fr-header__search fr-modal" id="modal-474">
          <div class="fr-container fr-container-lg--fluid">
            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#  Version mobile #}
  <div class="fr-header__menu fr-modal" id="header-menu-modal-fr-header" aria-labelledby="fr-header-menu-button" data-fr-js-modal="true" data-fr-js-header-modal="true">
    <div class="fr-container">
      <button id="fr-header-mobile-overlay-button-close" class="fr-btn--close fr-btn" aria-controls="header-menu-modal-fr-header" title="Fermer" data-fr-js-modal-button="true">Fermer</button>
      <div class="fr-header__menu-links">
        <ul class="fr-btns-group">
          <li>
            <a href="/agent/connexion" id="fr-header-quick-access-item--Agent_mobile-0" class="fr-btn fr-icon-government-line">Agent</a>
          </li>
          <li><a href="/connexion" id="fr-header-quick-access-item--Seconnecter_mobile-1" class="fr-btn fr-icon-account-line">Se connecter</a>
          </li>
        </ul>
      </div>

      {# Menu #}
      <nav id="fr-header-main-navigation" class="fr-nav" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
        <ul class="fr-nav__list">
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="/declarer-un-prejudice" target="_self" id="fr-header-main-navigation-link-0" class="fr-nav__link">Déclarer un préjudice</a>
          </li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="/suivi-de-mon-dossier" target="_self" id="fr-header-main-navigation-link-1" class="fr-nav__link">Suivre mon dossier</a>
          </li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="/qui-sommes-nous" target="_self" id="fr-header-main-navigation-link-2" class="fr-nav__link">Qui sommes-nous ?</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

</div>

</header>
