<nav id="fr-header-main-navigation" class="fr-nav" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
    <ul class="fr-nav__list">
        <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="{{ path('app_category') }}" class="fr-nav__link">Déclarer un préjudice</a>
        </li>
        <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="{{ path('app_suivi_mon_dossier') }}" class="fr-nav__link">Suivre mon dossier</a>
        </li>
        <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a href="{{ path('app_qui_sommes_nous') }}" class="fr-nav__link">Qui sommes-nous ?</a>
        </li>
    </ul>
</nav>