{% from '_macros_javascript.twig' import revelerCourriel %}

{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    <style>
        h2 {
            margin: 2rem 0;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <div class="fr-container fr-container--fluid fr-my-3w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1>Conditions générales d'utilisation</h1>

                <p>En vigueur à partir du 1<sup>er</sup> janvier 2025</p>

                <h2>Article 1 - Champ d’application</h2>

                <p>Les présentes modalités d’utilisation précisent le cadre juridique de “Mon indemnisation justice”
                    (ci-après la “Plateforme”) et définissent les conditions d’accès et d’utilisation des Services par
                    l’Utilisateur.</p>

                <h2>Article 2 - Objet de la Plateforme</h2>

                <p>La Plateforme est un service numérique développé au sein de l’Incubateur de la Justice qui permet aux
                    usagers de réaliser une demande d’indemnisation pour un bris de porte ou tout autre dégât matériel
                    causé
                    dans le cadre d’une opération de police.</p>

                <h2>Article 3 - Définitions</h2>

                <p>“Agent” désigne toute personne physique, agent public habilité du ministère de la Justice à traiter
                    les
                    dossiers d’indemnisation</p>

                <p>“Éditeur” désigne la personne morale qui met à la disposition du public la Plateforme, à savoir le
                    secrétariat général du ministère de la Justice.</p>

                <p>“Plateforme” désigne le service numérique qui permet aux usagers de réaliser leur demande
                    d’indemnisation et aux agents du ministère de la Justice de suivre les dossiers.</p>

                <p>“Services” désigne les fonctionnalités proposées par la Plateforme pour répondre à ses finalités.</p>

                <p>“Utilisateur” désigne toute personne physique qui dépose sa demande d’indemnisation sur la
                    Plateforme.</p>

                <h2>Article 4 - Fonctionnalités</h2>

                <h3>4.1 Demande d’indemnisation de l’Utilisateur</h3>

                <p>Toute personne doit avant de commencer sa demande d’indemnisation répondre à un questionnaire
                    d’éligibilité. Si la personne est éligible mais que son département n’est pas encore pris en compte
                    dans
                    le cadre du dispositif, elle peut contacter l’équipe de la Plateforme par voie électronique :
                    <a data-courriel="precontentieux.dsj-fip6,justice.gouv.fr"></a></p>

                <p>L’Utilisateur éligible doit alors se créer un compte en renseignant ses informations
                    personnelles.</p>

                <p>Il peut préciser si sa demande d’indemnisation le concerne ou concerne une personne morale, puis il
                    déclare les informations sur le bris de porte et fournit les documents justificatifs nécessaires
                    avant
                    de déclarer son bris de porte.</p>

                <p>Chaque Utilisateur peut à tout moment suivre l’état d’avancement de son dossier en renseignant le
                    code
                    de suivi.</p>

                <h3>4.2 Gestion du dossier d’indemnisation de l’Utilisateur</h3>

                <p>L’Agent s’identifie sur la Plateforme par le biais de <a href="https://www.proconnect.gouv.fr/"
                                                                            title="ProConnect, l'accès pour les pros, validé par l'État"
                                                                            target="_blank"> la solution
                        “ProConnect”</a>. Il renseigne son adresse courriel et son mot de passe.</p>


                <p>L’Agent est chargé de l’instruction du dossier de l’Utilisateur. L’instruction par l’Agent consiste
                    en
                    une analyse de la qualité et de la véracité des informations fournies, notamment en confirmant avec
                    les
                    forces de l’ordre de l’erreur d’intervention et avec l’assureur et/ou le bailleur pour éviter une
                    double
                    indemnisation. L’Agent propose à l’Utilisateur une indemnisation en collectant l’arrêté de paiement
                    et
                    valide le règlement, sous réserve que les conditions d’indemnisation soient remplies :</p>

                <ul>
                    <li>
                        L’Utilisateur n’est pas concerné par l’opération de police ;
                    </li>
                    <li>L’opération de police a été réalisée par erreur dans son domicile.</li>
                </ul>

                <h2>Article 5 - Responsabilités</h2>

                <h3>5.1 L’Éditeur de la Plateforme</h3>

                <p>Les sources des informations diffusées sur la Plateforme sont réputées fiables mais l’Éditeur ne
                    garantit pas qu’elle soit exempte de défauts, d’erreurs ou d’omissions.</p>

                <p>L’Éditeur s’engage à la sécurisation de la Plateforme, notamment en prenant toutes les mesures
                    nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Il
                    ne
                    saurait être tenu responsable de tout contenu publié par l’Utilisateur sur la Plateforme, notamment
                    des
                    fausses informations renseignées par ce dernier.</p>

                <p>L’Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu à la
                    Plateforme.
                    Il se réserve le droit de faire évoluer, de modifier ou de suspendre, sans préavis, la Plateforme
                    pour
                    des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>

                <p>En cas de manquement à une ou plusieurs des stipulations des présentes modalités d’utilisation,
                    l’Éditeur se réserve le droit de suspendre ou de supprimer le compte de l’Utilisateur
                    responsable.</p>

                <h3>5.2 L’Utilisateur</h3>

                <p>L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle
                    que
                    soit sa forme, est interdite. Il assume les risques liés à l’utilisation de son adresse courriel et
                    de
                    son mot de passe.</p>

                <p>En créant un compte sur la Plateforme, l’Utilisateur certifie notamment qu’il n’est pas concerné par
                    l’opération de police et que cette dernière a été réalisée par erreur à son domicile.</p>

                <p>Toute information transmise par l’Utilisateur est de sa seule responsabilité. Il est rappelé que
                    toute
                    personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose notamment aux
                    sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois
                    ans
                    d’emprisonnement et 45 000 euros d’amende.</p>

                <p>L’Utilisateur s’engage à ne pas mettre en ligne de contenus ou informations contraires aux
                    dispositions
                    légales et réglementaires en vigueur. Il veille également à ne pas communiquer de données sensibles
                    ou
                    de secrets protégés par la loi, et à ne pas publier de contenus illicites notamment dans les zones
                    de
                    champs libres.</p>

                <h3>5.3 L’Agent</h3>

                <p>L’Agent s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que
                    soit
                    sa forme, est interdite. Il assume les risques liés à l’utilisation de son adresse courriel et de
                    son
                    mot de passe.</p>

                <p>En s’identifiant sur la Plateforme, l’Agent certifie être habilité à instruire les demandes de
                    demande
                    d’indemnisation. Il s’engage à ne pas porter atteinte à la confidentialité et à la sécurité des
                    informations dont il a accès dans le cadre de ses missions sur la Plateforme.</p>

                <h2>Article 6 - Mise à jour des modalités d’utilisation</h2>

                <p>Les termes des présentes modalités d’utilisation peuvent être amendés à tout moment, en fonction des
                    modifications apportées à la Plateforme, de l’évolution de la législation ou pour tout autre motif
                    jugé
                    nécessaire. Les modalités d’utilisation s’imposent à l’Utilisateur.</p>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ revelerCourriel() }}
{% endblock javascripts %}
