{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block main %}
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <h1>Conditions générales d'utilisation</h1>
        <span>...</span>
      </div>
    </div>
  </div>
{% endblock %}
