<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">Ministère<br>justice</p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-474" id="button-475" title="Rechercher">Rechercher</button>
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-476" aria-haspopup="menu" id="button-477" title="Menu">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Mon Indemnisation Justice"></a>
            <p class="fr-header__service-title">Mon Indemnisation Justice</p>
            {% if false %}
              <p class="fr-header__service-tagline">Espace rédacteur</p>
            {% endif %}
          </div>
        </div>
      <div class="fr-header__tools">
        <div class="fr-header__tools-links">
          <ul class="fr-btns-group">

            {% if not app.user %}
            <li>
              <a class="fr-btn fr-icon-lock-line" href="{{path('app_login')}}">{{'login.title'|trans}}</a>
            </li>
            {% else %}
            <li>
              <a class="fr-btn fr-icon-logout-box-r-line" href="{{path('app_logout')}}">{{'logout.title'|trans}}</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="fr-header__search fr-modal" id="modal-474">
          <div class="fr-container fr-container-lg--fluid">
            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</header>
