{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pr-content_body .pr-requests > ul, .pr-content_body .pr-requests > ul > li {
            margin: 0;
            padding: 0;
        }

        .pr-content_body .pr-requests ul li {
            list-style: none;
        }

        .pr-content_body .pr-requests ul li .fr-tile {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .fr-jumbotron {
            width: 100%;
              top: 0;
              left: 0;
              background-size: cover !important;
              background-position: 50% 50% !important;
              z-index: 0;
        }

        .fr-jumbotron--olympe-de-gouges {
            background-image: url('{{ asset("images/picture/olympe-de-gouges.webp") }}');
        }

        .fr-text--bold {
            font-weight: bold;
        }

        .fr-text--white {
            color: var(--background-default-grey);
        }

        {# Désactivé en attente des décisions maquettes
        main {
            background-image: url('{{ asset("images/picture/pic_olympe-site.jpg") }}');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .pr-whoami .fr-container {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: -1;
            background-color: var(--pr-bg-color-white);
        }

        .pr-whoami .fr-container * {
            opacity: 1;
        }
        #}
    </style>

{% endblock stylesheets %}

{% block containerClasses %}{% endblock containerClasses %}

{% block main %}
<section class="fr-jumbotron fr-jumbotron--olympe-de-gouges fr-pb-md-5w fr-pt-md-9w fr-pt-3w fr-pb-sm-3w">
    <div class="fr-container">
        <div class="fr-col-md-8">
            <div class="fr-grid-col">
                <h1 class="fr-h1 fr-mt-3w fr-text--white">Vous êtes concernés par un bris de porte ?</h1>
                <p class="fr-text--white">
                    Mon indemnisation est un service en ligne qui vous permet de faire une demande d’indemnisation pour un bris de portes ou tout autres dégâts matériels causés dans le cadre d’une opération de police judiciaire.
                </p>
                <p>
                    <a href="#" onclick="javascript:alert('Coucou');" class="fr-btn fr-mt-2w fr-px-3w fr-py-3v">
                        <span class="text-center full-width">Déposer votre demande d’indemnisation</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="fr-container">
        <h3>Comment réagir ?</h3>
    </div>
</section>

<section>
    <div class="fr-container">
        <h3>Comment faire ma demande d'indemnisation ?</h3>
    </div>
</section>

<section>
    <div class="fr-container">
        <h3>Comment se passe ma demande d'indemnisation ?</h3>
    </div>
</section>

<section>
    <div class="fr-container">
        <h3>Je souhaite déposer ma demande d'indemnisation</h3>
    </div>
</section>


{% endblock %}
