{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pr-content_body .pr-requests > ul, .pr-content_body .pr-requests > ul > li {
            margin: 0;
            padding: 0;
        }

        .pr-content_body .pr-requests ul li {
            list-style: none;
        }

        .pr-content_body .pr-requests ul li .fr-tile {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        {# Désactivé en attente des décisions maquettes
        main {
            background-image: url('{{ asset("images/picture/pic_olympe-site.jpg") }}');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .pr-whoami .fr-container {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: -1;
            background-color: var(--pr-bg-color-white);
        }

        .pr-whoami .fr-container * {
            opacity: 1;
        }
        #}
    </style>

{% endblock stylesheets %}
{% block main %}
        <section class="pr-whoami">
            <div class="fr-container">
                <div class="fr-pt-6w fr-pb-12w">
                    <h1>Nous vous aidons dans votre demande d'indemnisation</h1>
                </div>
            </div>
        </section>
        <div class="fr-container">
            <div class="pr-content_body pr-mt-n6w ">
                <section class="pr-requests">
                    <div class="fr-px-4w fr-pt-4w"><h2>Catégories de demandes</h2>
                        <p>Vous avez la possibilité d'effectuer un test d'éligibilité suivi d'une demande amiable
                            d'indemnisation en sélectionnant l'une des catégories suivantes.</p>
                        <ul class="fr-grid-row fr-grid-row--gutters">
                            <li class="fr-col-12 fr-col-lg-4">
                                <div class="fr-tile fr-enlarge-link" id="tile-6609">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content"><h3 class="fr-tile__title"><a
                                                        href="{{ url('home_test_eligibilite_bris_porte') }}">Bris de porte</a>
                                            </h3>
                                            <div class="fr-tile__start"><span
                                                        class="fr-badge fr-badge--success fr-badge--no-icon"
                                                        id="fr-badge-:r1:">disponible</span></div>
                                            <p class="fr-tile__desc">Ou autres dégâts matériels causés dans le cadre
                                                d'une opération de police judiciaire</p></div>
                                    </div>
                                    <div class="fr-tile__header">
                                        <div class="fr-tile__pictogram"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="fr-col-12 fr-col-lg-4">
                                <div class="fr-tile fr-enlarge-link" id="tile-6609">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content">
                                            <h3 class="fr-tile__title"><a>
                                                    <div style="color: gray;">Perte de loyers</div>
                                                </a></h3>
                                            <div class="fr-tile__start"><span
                                                        class="fr-badge fr-badge--warning fr-badge--no-icon"
                                                        id="fr-badge-:r3:">Non disponible</span></div>
                                            <p class="fr-tile__desc">En raison du placement sous scellés d'un bien
                                                immobilier pour les besoins d'une enquête judiciaire</p></div>
                                    </div>
                                    <div class="fr-tile__header">
                                        <div class="fr-tile__pictogram"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="fr-col-12 fr-col-lg-4">
                                <div class="fr-tile fr-enlarge-link" id="tile-6609">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content">
                                            <h3 class="fr-tile__title"><a>
                                                    <div style="color: gray;">Dysfonctionnements du service public de la
                                                        justice
                                                    </div>
                                                </a></h3>
                                            <div class="fr-tile__start"><span
                                                        class="fr-badge fr-badge--warning fr-badge--no-icon"
                                                        id="fr-badge-:r5:">Non disponible</span></div>
                                            <p class="fr-tile__desc">Délai de procédure déraisonnable devant les
                                                juridictions de l'ordre judiciaire, non restitution des scellés, mise en
                                                fourrière injustifiée, ...</p></div>
                                    </div>
                                    <div class="fr-tile__header">
                                        <div class="fr-tile__pictogram"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="fr-col-12 fr-col-lg-6">
                                <div class="fr-tile fr-enlarge-link" id="tile-6609">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content">
                                            <h3 class="fr-tile__title"><a>
                                                    <div style="color: gray;">Accident impliquant un véhicule de la
                                                        Direction des services judiciaires
                                                    </div>
                                                </a></h3>
                                            <div class="fr-tile__start"><span
                                                        class="fr-badge fr-badge--warning fr-badge--no-icon"
                                                        id="fr-badge-:r7:">Non disponible</span></div>
                                            <p class="fr-tile__desc"></p></div>
                                    </div>
                                    <div class="fr-tile__header">
                                        <div class="fr-tile__pictogram"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="fr-col-12 fr-col-lg-6">
                                <div class="fr-tile fr-enlarge-link" id="tile-6609">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content">
                                            <h3 class="fr-tile__title"><a>
                                                    <div style="color: gray;">Sinistre survenu au sein d’un bâtiment
                                                        judiciaire
                                                    </div>
                                                </a></h3>
                                            <div class="fr-tile__start"><span
                                                        class="fr-badge fr-badge--warning fr-badge--no-icon"
                                                        id="fr-badge-:r9:">Non disponible</span></div>
                                            <p class="fr-tile__desc"></p></div>
                                    </div>
                                    <div class="fr-tile__header">
                                        <div class="fr-tile__pictogram"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>



{% endblock %}
