{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
  <style>
    h2 {
      margin: 2rem 0;
    }
  </style>
{% endblock stylesheets %}

{% block main %}
  <div class="fr-container fr-container--fluid fr-my-3w">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <h1>Mentions légales</h1>

        <p>Mises à jour le 22 avril 2025</p>

        <h2>Éditeur de la publication</h2>


        <p>Le secrétariat général du ministère de la Justice, situé :</p>

        <address>
          13 place Vendôme<br/>
          75001 Paris<br/>
          France<br/>
          Tél : <a target="_blank" href="tel:+33144776060">01 44 77 60 60</a>
        </address>


        <h2>Directrice de la publication</h2>

        <p>Madame Carine CHEVRIER, secrétaire générale</p>

        <h2>Hébergeur de la plateforme</h2>

        <p>Le service numérique est hébergé par Clever Cloud, situé :</p>

        <address>
          4 rue Voltaire<br/>
          44000 Nantes<br/>
          France<br/>
          Tél : <a target="_blank" href="tel:+33285520769">02 85 52 07 69</a>
        </address>


      </div>
    </div>
  </div>
{% endblock %}
