{% extends 'base.html.twig' %}

{% block main %}
<div class="fr-container fr-container--fluid fr-my-2w fr-px-3w">

    <div class="pr-content">
        <div class=".pr-content_header">
            <section class="pr-whoami">
              <div class="fr-container">
                <div class="fr-pt-6w fr-pb-12w">
                    <div class="pr-whoami_text fr-p-4w">
                        <h1>Quelle est la mission du bureau du précontentieux ?</h1>
                        <p>Situé au sein de la direction des services judiciaires (DSJ) du ministère de la Justice, le
                            <b>bureau du précontentieux</b> a pour mission de <b>traiter les demandes amiables d’indemnisation</b> formulées par les usagers
                            ou les tiers en réparation des préjudices causés :<br/>
                            <ul>
                                <li>Soit par le <b>fonctionnement du service public de la justice judiciaire</b></li>
                                <li>Soit par un <b>accident impliquant un véhicule de la Direction des Services
                                    Judiciaires</b>.
                                </li>
                            </ul>
                        </p>
                        <p>Il traite également les demandes amiables d’indemnisation en réparation de <b>sinistres
                                survenus au sein d’un bâtiment judiciaire.</b>
                        </p>
                    </div>
                </div>
              </div>
            </section>

        </div>
    </div>

</div>
{% endblock %}
