{% extends 'base.html.twig' %}

{% block title %}Suivre mon dossier{% endblock %}


{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12"><br><br>
                <section class="pr-form-section fr-p-4w"><h1>Suivre mon dossier</h1>
                    <form method="POST" name="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('suiviDeDossier') }}">

                        <div class="fr-grid-row fr-grid-row--center">
                            <div class="fr-col-lg-4 fr-col-12">
                                <div class="fr-input-group"><label class="fr-label" for="input-:r0:">Code suivi</label>
                                    <div class="fr-input-wrap fr-input-wrap--addon">
                                        <input name="raccourci"
                                               minlength="8"
                                               maxlength="8"
                                               class="fr-input"
                                               type="text"
                                               value="{{ raccourci }}"
                                        />
                                        <button class="fr-btn ">Consulter</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div id="fr-table-:r1:" class="fr-table fr-table--layout-fixed" data-fr-js-table="true">
                        <table data-fr-js-table-element="true" class="">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for statut in statuts %}
                                <tr>
                                    <td>{{ statut.date }}</td>
                                    <td>{{ statut.libelle }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
