{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice: vous avez un nouveau dossier à instruire{% endblock subject %}

{% block entete %}
    <b>Mon Indemnisation Justice: vous avez un nouveau dossier à instruire</b>
{% endblock entete %}


{% block contenu %}
    Bonjour {{ agent.prenom }},
    <br/>
    <br/>
    <p>
        {{ dossier.etatDossier.agent.nomComplet }} vient de vous attribuer
        le dossier {{ dossier.reference }}.
    </p>
    <p>
        Vous pouvez voir la liste de vos dossiers attribués en cliquant sur le bouton ci-dessous :
    </p>
    <br/>
    <p>
        {{ email.bouton("Dossiers à instruire", url('agent_fip3_react', {'extra': "/dossiers/a-instruire"})) }}
        <br/>
    </p>
    <br/>
    Cordialement,<br/>
{% endblock contenu %}
