{% include 'courrier/decision/_corps_introduction.html.twig' %}
<p>
    Après examen de votre dossier, nous ne pouvons pas donner une réponse positive à votre demande d’indemnisation pour les raisons suivantes :
</p>
<ol>
    <li>
        {{ fdo|capitalize }} n’a pas commis d’erreur opérationnelle, vous étiez bien concerné(e) par leur intervention/les personnes recherchées étaient bien hébergées à votre domicile
    </li>
    <li>
        Le contrat de location concerne les parties privatives et les parties communes. (cf article 25-13 de la loi n° 89-462 du 6 juillet 1989 tendant à améliorer les rapports locatifs et portant modification de la loi n° 86-1290 du 23 décembre 1986). Selon l’article 1728 du code civil, le locataire doit user de la chose louée raisonnablement et suivant la destination qui lui a été donnée par le bail.
    </li>
    <li>
        Selon l’article 1732 du code civil, le locataire doit répondre des dommages causés au logement loué, lorsque ces dommages sont la conséquence de son comportement fautif.
    </li>
</ol>

<p>
    Les conditions de la responsabilité sans faute pour rupture d’égalité devant les charges publiques ne sont pas remplies.
</p>
<p>
    La responsabilité de l’Etat du fait d’un fonctionnement défectueux du service public de la justice au sens de l’article L. 141-1 du code de l’organisation judiciaire, ne peut être retenue.
</p>

<p>
    Si vous souhaitez contester cette décision, vous pouvez engager une action en justice dirigée contre l’Agent judiciaire de l’État devant la juridiction civile compétente.
</p>
{% include 'courrier/decision/_corps_formule_cloture.html.twig' %}