{% include 'courrier/decision/_corps_introduction.html.twig' %}
<p>
    Après examen de votre dossier, nous ne pouvons pas donner une réponse positive à votre demande d’indemnisation pour les raisons suivantes :
</p>
<ol>
    <li>
        {{ fdo|capitalize }} n’a pas commis d’erreur opérationnelle, vous étiez bien concerné(e) par leur intervention/les personnes recherchées étaient bien hébergées à votre domicile.
    </li>
    <li>
        2.	Les locations par l’intermédiaire des plateformes en ligne (exemples : Airbnb, Booking.fr) sont soumises aux dispositions des articles 1713 à 1778 du code civil. Selon l’article 1732, le locataire doit répondre des dommages causés au logement loué, lorsque ces dommages sont la conséquence de son comportement fautif.
    </li>
    <li>
        Les conditions de la responsabilité sans faute pour rupture d’égalité devant les charges publiques ne sont pas remplies.
    </li>
    <li>
        La responsabilité de l’Etat du fait d’un fonctionnement défectueux du service public de la justice au sens de l’article L. 141-1 du code de l’organisation judiciaire, ne peut être retenue.
    </li>
</ol>
<p>
    Si vous souhaitez contester cette décision, vous pouvez engager une action en justice dirigée contre l’Agent judiciaire de l’État devant la juridiction civile compétente.
</p>
{% include 'courrier/decision/_corps_formule_cloture.html.twig' %}