{% include 'courrier/_corps_introduction.html.twig' %}
<p>La prise en charge par le ministère de la Justice des préjudices matériels résultant d'une opération de police
    judiciaire est soumise aux principes de la mise en œuvre de la responsabilité sans faute de l'État pour rupture
    d’égalité devant les charges publiques.
</p>
<p>Aussi, le droit à indemnisation est ouvert aux personnes qui ne sont pas concernées par la procédure judiciaire et
    qui subissent un préjudice anormal et spécial. <b>Les personnes recherchées par l'autorité judiciaire</b>, celles
    qui en ont la responsabilité civile (notamment pour les enfants mineurs) ou celles qui les hébergent, <b>ne sont pas
    éligibles à l’indemnisation.</b>
</p>
<p>Dès lors, vous ne remplissez pas les conditions posées par la jurisprudence du Conseil d’État suivant laquelle le
    régime de la responsabilité sans faute <b> bénéficie aux tiers non liés aux personnes dont le comportement a justifié
    l’intervention des forces de l’ordre</b> (CE, ass, - 6 juillet 2016 req, 398234 AJDA2016).
</p>
<p>En conséquence, j'ai le regret de vous informer qu'il ne peut être réservé une suite favorable à votre requête, la
    responsabilité de l’Etat ne pouvant être engagée, en l’espèce, en l’absence d’erreur des forces de l’ordre.
</p>
<p>Par ailleurs, l'instruction de votre demande n'a pas permis de mettre en évidence un dysfonctionnement du service
    public de la justice au sens de l'article L 141-1 du code de l'organisation judiciaire.
</p>
<p>Je vous précise qu’en cas de désaccord avec cette position, vous pouvez engager une action contentieuse en assignant
    l’agent judiciaire de l’État devant le tribunal judiciaire territorialement compétent. S’agissant d’une procédure
    avec représentation obligatoire, il vous appartient de vous rapprocher des services d’un avocat.
</p>
<p>Je vous prie de croire, {{ dossier.requerant.personnePhysique.civilite.libelle }}, à l’expression de ma considération
    distinguée.
</p>