{% extends 'courrier/_base_courrier.html.twig' %}

{% set libellePersonneMorale = dossier.requerantPersonneMorale is not null ? dossier.requerantPersonneMorale.libelle(true) : null %}

{% block style %}
    <style>
        body {

            font-family: 'Marianne', 'Arial', sans-serif;

            header {

                .courrier-decision-courrier-titre {
                    width: 33%;
                    text-align: right;
                    font-weight: bold;
                    font-size: 12pt;
                    letter-spacing: -.5pt;
                }
            }

            #declaration-acceptation {
                * {
                    letter-spacing: .8pt;
                    font-size: 11pt;
                    line-height: 12pt;
                }

                input {
                    border: none;
                }

                p {
                    &.formulaire-titre {
                        width: 100%;
                        text-align: center;
                    }

                    &:first-child {
                        margin: 0 0 1.5cm 0;
                    }

                    &.marge-plus {
                        margin: 1.5cm 0 0 0;
                    }

                    &.marge-plus-plus {
                        margin: 3cm 0 0 0;
                    }

                    margin: 10pt 0;
                }

                .champ-a-remplir {
                    display:inline-block;
                    width:12rem;
                    border-bottom:1px dotted #000;
                }

            }
        }

    </style>
{% endblock style %}

{% block pages %}

    <div id="declaration-acceptation" class="page">
        <p class="formulaire-titre">
            <b class="texte-majuscule">Déclaration d’acceptation</b>
        </p>

        {% if corps is defined and corps is not null %}
            {{ corps|raw }}
        {% endif %}

        <p>
            Je déclare renoncer à exercer toute action ultérieure à raison de ces faits contre l’État.
        </p>

        <p>
            <b>Je souhaite recevoir cette indemnité (case à cocher) : </b>
        </p>

        {% if dossier.estPersonneMorale %}
            <div class="fr-checkbox-group fr-col-10 fr-col-offset-1">
                <input name="checkbox" id="champ-rib-personnel" type="checkbox"
                       aria-describedby="champ-rib-personnel-messages">
                <label class="fr-label" style="font-weight: bold;" for="champ-rib-personnel">sur le compte
                    {% if libellePersonneMorale starts with 'le ' %}{{ libellePersonneMorale|replace({'le ': 'du '}) }}{% else %}de {{ libellePersonneMorale }}{% endif %}</label>
                <div class="fr-messages-group" id="champ-rib-personnel-messages" aria-live="polite">
                </div>
            </div>

            <p>
                <i style="font-size: 9pt;">(joindre impérativement un RIB d’un compte courant et une copie de la carte d’identité recto-verso ou
                    du
                    passeport en cours de validité)</i>
            </p>
        {% else %}
            <div class="fr-checkbox-group fr-col-10 fr-col-offset-1">
                <input name="checkbox" id="champ-rib-personnel" type="checkbox"
                       aria-describedby="champ-rib-personnel-messages">
                <label class="fr-label" style="font-weight: bold;" for="champ-rib-personnel">sur mon compte
                    nominatif </label>
                <div class="fr-messages-group" id="champ-rib-personnel-messages" aria-live="polite">
                </div>
            </div>

            <p>
                <i style="font-size: 9pt;">(joindre impérativement un RIB d’un compte courant et une copie de la carte d’identité recto-verso ou
                    du
                    passeport en cours de validité)</i>
            </p>
        {% endif %}

        <div class="fr-checkbox-group fr-col-10 fr-col-offset-1">
            <input name="checkbox" id="champ-rib-avocat" type="checkbox" aria-describedby="champ-rib-avocat-messages">
            <label class="fr-label" style="font-weight: bold;" for="champ-rib-avocat">sur le compte CARPA de l’avocat,
                Maître <span class="champ-a-remplir">&nbsp;</span></label>
            <div class="fr-messages-group" id="champ-rib-avocat-messages" aria-live="polite">
            </div>
        </div>

        <p>
            <i style="font-size: 9pt;">
                (joindre impérativement le RIB CARPA avec la référence de l’affaire et un accord de règlement sur le
                compte CARPA)
            </i>
        </p>

        <p>Fait à <span class="champ-a-remplir">&nbsp;</span>,
            le <span class="champ-a-remplir">&nbsp;</span>
        </p>


        <p style="margin-bottom:5rem;">Signature</p>

        <p>La déclaration d’acceptation doit être retournée via votre espace personnel.</p>

        <p><u>Référence à rappeler</u> :{{ dossier.reference }}</p>
    </div>

{% endblock pages %}