{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% set consultation_url = url('requerant_dossier_consulter_decision', {'id': dossier.id }) %}

{% block subject %}Mon Indemnisation Justice: notification de décision {% endblock subject %}

{% block entete %}
    <b>Notification de décision </b>
{% endblock entete %}


{% block contenu %}
    Bonjour {{ dossier.usager.nomCourant(true, true) }},
    <br/>
    <br/>
    <p>
        L’instruction de votre dossier {{ dossier.reference }} est terminée.
    </p>
    <p>
        Vous pouvez dès à présent consulter la décision prise par nos services en cliquant sur le bouton ci-dessous, ou en vous connectant à votre espace personnel via le lien suivant :

    </p>
    <br/>
    <p>
        {{ email.bouton("Consulter la décision", consultation_url) }}
        <br/>
    </p>
    <p>
        Nous vous en souhaitons une bonne réception.
    </p>
    <br/>
    Cordialement,<br/>
    L'équipe Mon Indemnisation Justice
{% endblock contenu %}
