{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice : accusé de réception de votre demande d’indemnisation {% endblock subject %}

{% block entete %}
    <b>Accusé de réception de votre demande d’indemnisation</b>
{% endblock entete %}


{% block contenu %}
    <p>
        Référence du dossier à rappeler dans toutes vos correspondances : {{ dossier.reference }}
    </p>
    <br/>
    <p>
        Bonjour {{ dossier.usager.nomCourant(true, true) }},
    </p>
    <br/>
    <br/>
    <p>
        Vous avez déposé une demande d’indemnisation ce jour. Vous recevrez une nouvelle notification dès la prise en charge de votre dossier par l’un de nos collaborateurs dans les meilleurs délais.
    </p>
    <p>
        A titre d’information, nos délais de traitement s’étendent sur une période de 2 à 4 mois en fonction de la complétude de votre dossier.
    </p>
    <p>
        Nous vous remercions par avance de votre compréhension.
    </p>
    <br/>
    Cordialement,<br/>
    L'équipe Mon Indemnisation Justice
{% endblock contenu %}
