{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice: versement de votre indemnisation{% endblock subject %}

{% block entete %}
    <b>Versement de votre indemnisation</b>
{% endblock entete %}


{% block contenu %}
    Bonjour {{ dossier.usager.nomCourant(true, true) }},
    <br/>
    <br/>
    <p>
        Le versement de votre indemnité a été effectué par nos services. Vous recevrez prochainement le virement sur
        votre compte bancaire.
    </p>
    <p>
        Votre dossier est désormais clôturé. Afin d’améliorer la qualité de nos services, nous vous invitons à répondre
        à <a title="Questionnaire de satisfaction"
             href="https://grist.numerique.gouv.fr/o/docs/forms/swfsLVmxR5V1gPW56J8RDY/4">notre
            court questionnaire de satisfaction</a>.
    </p>
    <p>
        Nous vous remercions pour votre contribution.
    </p>
    <br/>
    Cordialement,<br/>
    L'équipe Mon Indemnisation Justice
{% endblock contenu %}
