[
    {
        "_title": "test",
        "sub": "c1722a03-4172-4015-9f0d-d1995d4cbe5c",
        "email": "redacteur@justice.gouv.fr",
        "gender": "female",
        "given_name": "Angela Claire Louise",
        "given_name_array": [
            "Angela", "Claire", "Louise"
        ],
        "family_name": "DUBOIS",
        "phone_number": "123456789",
        "birthdate": "1962-08-24",
        "birthplace": "75107",
        "birthcountry": "99100",
        "country" : "France",
        "locality" : "Paris",
        "postal_code" : "75107",
        "street_address" : "20 avenue de Ségur"
    },
    {
        "_title": "Jean MICHON",
        "sub": "ce16a809-bbfb-41b9-baa0-154d94703fbd",
        "email": "alt.yk-4on31rr2@yopmail.com",
        "gender": "male",
        "given_name": "Jean Jacques Pierre",
        "given_name_array": [
            "Jean", "Jacques, ","Pierre"
        ],
        "family_name": "MICHON",
        "phone_number": "123456789",
        "birthdate": "1986-04-02",
        "country" : "France",
        "locality" : "Paris",
        "postal_code" : "75107",
        "street_address" : "20 avenue de Ségur",
        "birthplace": "50484",
        "birthcountry": "99100"
    },
    {
        "_title": "Ray KERAN",
        "sub": "3297f962-d6a2-4e30-a134-4b85615fd62c",
        "email": "ray.keran@courriel.fr",
        "gender": "male",
        "given_name": "Ray",
        "given_name_array": [
            "Ray"
        ],
        "family_name": "Keran",
        "phone_number": "0607437022",
        "birthdate": "1983-11-23",
        "country" : "France",
        "locality" : "Rennes",
        "postal_code" : "35000",
        "street_address" : "37 rue du Nivernais",
        "birthplace": "35500",
        "birthcountry": "99100"
    }
]