{% extends 'base.html.twig' %}

{% block title %}Attestations à télécharger{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock meta %}

{% block stylesheets %}
    <style>
        h2 {
            margin: 2rem 0;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <div class="fr-container fr-container--fluid fr-my-3w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1>Attestations à télécharger</h1>

                <div class="fr-alert fr-alert--info">
                    <h3 class="fr-alert__title">Retrouvez les attestations sur l'espace Forces de l'ordre</h3>
                    <p>
                        Dans un souci de renforcement de la sécurité, les attestations et autres guides destinés aux
                        agents de Forces de l'ordre ont été déplacés vers le nouvel espace dédié.</p>
                </div>

                <div class="fr-col-12 fr-my-3w fr-grid-row fr-grid-row--center"
                     style="display:flex;flex-direction:column;justify-items: center;justify-content: center;align-items: center;">

                    <p>
                        L'espace <span class="fr-text--bold">des agents des Forces de l'ordre</span> est disponible via
                        FranceConnect :
                    </p>

                    <form method="post" action="{{ path('securite_connexion_agent') }}">
                        <input type="hidden" name="_csrf_token_agent" value="{{ csrf_token('connexionAgent') }}">
                        <div class="fr-connect-group">
                            <button class="fr-connect fr-pro-connect" type="submit">
                                <span class="fr-connect__login">S’identifier avec</span>
                                <span class="fr-connect__brand">ProConnect</span>
                            </button>
                            <p>
                                <a href="https://www.proconnect.gouv.fr/" target="_blank" rel="noopener"
                                   title="Qu’est-ce que ProConnect ? - nouvelle fenêtre">Qu’est-ce que ProConnect
                                    ?</a>
                            </p>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
