{% extends 'base.html.twig' %}

{% block main %}
    <div class="fr-container fr-container--fluid fr-my-3w">
        <div class="fr-grid-row">
            <div class="fr-col-12">

                <h1>Foire aux questions</h1>

                <h4 id="qui-peut-deposer">Qui peut déposer une demande d’indemnisation ?</h4>

                <p>Toute personne victime d’un bris de porte causé par erreur lors d’une opération de police
                    judiciaire.</p>

                <h4 id="comment-se-connecter">Comment se connecter à “Mon Indemnisation Justice” ?</h4>

                <p>L’accès à <b>Mon Indemnisation Justice</b> se fait via FranceConnect pour les particuliers.</p>

                <p><a target="_blank" title="France Connect, le dispositif d’identification conçu par l’État pour vous faciliter l’accès à vos
                    services en ligne" href="https://www.franceconnect.gouv.fr/">FranceConnect</a>
                    est le dispositif d’identification conçu par l’État pour vous faciliter l’accès à vos
                    services en ligne en utilisant un de vos comptes déjà existants
                    (impots.gouv.fr, Ameli, La Poste, etc...).</p>

                <ol>
                    <li>Cliquez sur <b>« Se connecter avec FranceConnect »</b> sur la page d’accueil.</li>
                    <li>Sélectionnez le compte que vous souhaitez utiliser (impots.gouv.fr, Ameli, Identité Numérique La Poste, etc.).</li>
                    <li>Une fois connecté, vous serez automatiquement redirigé vers votre espace personnel sur <b>Mon
                            Indemnisation Justice</b>.
                    </li>
                </ol>

                <h4 id="comment-deposer">Comment déposer une demande ?</h4>

                <p>Rendez vous à votre commissariat ou gendarmerie afin qu’un agent déclare le bris de porte et initie
                    votre dossier. Vous recevrez ensuite une invitation par email pour compléter votre dossier en
                    ligne.</p>

                <h4 id="quels-documents">Quels documents dois-je préparer?</h4>


                <p>Avant de déposer votre demande, munissez vous des documents suivants :</p>

                <ul>
                    <li>Une photo de la porte endommagée</li>
                    <li>Une attestation de non prise en charge du sinistre par votre assurance</li>
                    <li>Une attestation de non prise en charge du sinistre par votre bailleur (si vous êtes locataire)
                    </li>
                    <li>Une copie recto-verso de votre pièce d’identité ou un extrait Kbis de moins de 3 mois (si vous
                        êtesune personne morale)
                    </li>
                    <li>La facture acquittée attestant de la réalité des travaux de remise en état à l'identique</li>
                    <li>Votre titre de propriété ou votre contrat de bail</li>
                </ul>

                <h4 id="quel-delai">Quel est le délai de traitement ?</h4>

                <p>Le Bureau du précontentieux s’efforce de traiter les demandes dans les meilleurs délais.</p>

                <p>Si vous avez reçu un email d'invitation de <b>Mon Indemnisation Justice</b>, le délai de traitement
                    de votre demande sera considérablement réduit, car la déclaration préalable des forces de l'ordre
                    facilite l'instruction de votre dossier.</p>

                <h4 id="comment-verifier">Comment vérifier le versement ?</h4>

                <p>Vous recevrez une notification par email lorsque le virement aura été effectué par nos services.</p>

                <h4 id="dois-je-payer">Dois-je payer le serrurier réquisitionné par les forces de l’ordre ?</h4>

                <p>Non. Si le serrurier a été réquisitionné par les forces de l’ordre, vous n’avez pas à régler sa
                    facture.</p>

                <p>Celle-ci est prise en charge par l'État.</p>

            </div>
        </div>
    </div>
{% endblock %}
