{% from '_macros_javascript.twig' import revelerCourriel %}

{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}
    <style>
        h2 {
            margin: 2rem 0;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <div class="fr-container fr-container--fluid fr-my-3w">
        <div class="fr-grid-row">
            <div class="fr-col-12">

                <h1>Politique de confidentialité</h1>

                <h2>Qui est responsable de Mon indemnisation justice ?</h2>

                <p>Mon indemnisation justice est un service numérique développé au sein de l’incubateur de la Justice,
                    sous la responsabilité du secrétariat général du ministère de la Justice. Mon indemnisation justice
                    permet de réaliser une demande d’indemnisation pour un bris de porte ou tout autre dégât matériel
                    causé dans le cadre d’une opération de police.</p>

                <h2>Pourquoi traitons-nous des données à caractère personnel ?</h2>

                <ul>
                    <li>Gérer les comptes utilisateurs des usagers qui leur permet de déposer leurs demandes
                        d’indemnisation et de pouvoir suivre l’avancement de leurs dossiers sur leur espace personnel ;
                    </li>
                    <li>Gérer les comptes utilisateurs des agents du ministère de la Justice qui leur permet d’instruire
                        les dossiers de demande d’indemnisation.
                    </li>
                </ul>

                <h2>Quelles sont les données à caractère personnel que nous traitons ?</h2>

                <ul>


                    <li>Données relatives à la demande d’indemnisation de l’usager : nom, prénom, date de naissance,
                        ville de naissance, pays de naissance, NIR, adresse postale, champs libres, pièce d’identité,
                        RIB, IBAN, documents justificatifs du préjudice (photos, factures serrurier ou menuisier, titre
                        de propriété si propriétaire, contrat de location si locataire, attestation de non-prise en
                        charge de l’assureur, attestation de non-prise en charge du bailleur) ;
                    </li>
                    <li>Données relatives au compte de l’usager : nom, prénom, adresse courriel ;</li>
                    <li>Données relatives au compte de l’agent : nom, prénom, adresse courriel.</li>
                </ul>

                <h2>Qu’est-ce qui nous autorise à traiter ces données ?</h2>

                <p>Mon indemnisation justice traite des données à caractère personnel en se basant sur :</p>

                <ul>
                    <li>L’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont
                        est
                        investi le responsable de traitement au sens de l’article 6-1 e) du RGPD.
                    </li>
                </ul>

                <p>
                    Cette mission d’intérêt public se traduit en pratique par l’arrêté du 30 décembre 2019 relatif à
                    l’organisation du secrétariat général et des directions du ministère de la Justice, notamment son
                    article 2 bis.
                </p>

                <h2>Pendant combien de temps conservons-nous ces données ?</h2>

                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th scope="col">Catégorie de données</th>
                                        <th scope="col">Durée de conservation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-row-key="1">
                                        <td>Données relatives à la demande d’indemnisation de l’usager</td>
                                        <td>1 an après la clôture du dossier d’indemnisation</td>
                                    </tr>
                                    <tr data-row-key="2">
                                        <td>Données relatives au compte de l’usager</td>
                                        <td>2 ans à partir du dernier contact avec l’usager</td>
                                    </tr>
                                    <tr data-row-key="3">
                                        <td>Données relatives au compte de l’agent</td>
                                        <td>2 ans à partir du dernier contact avec l’agent</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Quels sont vos droits ?</h2>

                <p>Vous disposez :</p>

                <ul>


                    <li>D’un droit d’information et d’accès à vos données ;</li>
                    <li>D’un droit de rectification ;</li>
                    <li>D’un droit d’opposition ;</li>
                    <li>D’un droit à la limitation du traitement de vos données.</li>
                </ul>

                <p>Pour exercer vos droits, vous pouvez nous contacter : <a data-courriel="dpd,justice.gouv.fr"></a>
                </p>

                <p>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure
                    de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés
                    à vous demander une preuve de votre identité.</p>

                <p>Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici :
                    <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces"
                       title="CNIL: modèle de courrier pour exercer son droit d'accès">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>
                </p>

                <p>Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à
                    compter de la réception de votre demande.</p>

                <h2>Qui va avoir accès à vos données ?</h2>

                <p>Les accès aux données à caractère personnel sont strictement encadrés et juridiquement justifiés. Les
                    personnes suivantes vont avoir accès à vos données :</p>

                <ul>
                    <li>Les membres de l’équipe de Mon indemnisation justice qui ont besoin des données dans leurs
                        missions ou
                        qui y ont accès de fait (développeurs notamment) ;
                    </li>
                    <li>Les agents du ministère de la Justice, notamment le bureau du précontentieux.</li>
                </ul>

                <h2>Qui nous aide à traiter vos données ?</h2>

                <p>Certaines données sont envoyées à d’autres parties prenantes, appelées “sous-traitants”. Ils agissent
                    selon nos instructions et nous nous sommes assurés qu’ils respectent le cadre juridique de la
                    protection
                    des données à caractère personnel en vigueur, notamment qu’ils apportent des garanties suffisantes
                    en
                    matière de sécurité et confidentialité.</p>


                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th scope="col">Sous-traitant</th>
                                        <th scope="col">Pays destinataire</th>
                                        <th scope="col">Traitement réalisé</th>
                                        <th scope="col">Garanties</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-row-key="1">
                                        <td>Clever Cloud</td>
                                        <td>France</td>
                                        <td>Hébergement des données</td>
                                        <td>
                                            <a href="https://www.clever-cloud.com/fr/conditions-generales-dutilisation/accord-de-traitement-des-donnees/"
                                               target="_blank"
                                               title="Conditions générales de traitement des données de l'hébergeur Clever Cloud">https://www.clever-cloud.com/fr/conditions-generales-dutilisation/accord-de-traitement-des-donnees/</a>
                                        </td>
                                    </tr>
                                    <tr data-row-key="2">
                                        <td>Scaleway</td>
                                        <td>France</td>
                                        <td>Stockage des fichiers déposés par l’usager</td>
                                        <td><a href="https://www-uploads.scaleway.com/DPA_2024_FR_0230ccdb42.pdf"
                                               title="Accord de sous-traitance du traitement de donnees a caractère personnel de l'hébergeur Scaleway"
                                               target="_blank">https://www-uploads.scaleway.com/DPA_2024_FR_0230ccdb42.pdf</a>
                                        </td>
                                    </tr>
                                    <tr data-row-key="3">
                                        <td>Brevo</td>
                                        <td>France</td>
                                        <td>Envoi des courriers transactionnels relatifs aux dossiers d’instruction</td>
                                        <td>
                                            <a href="https://www.brevo.com/fr/legal/termsofuse/#accord-sur-le-traitement-des-donnees-a-caractere-personnel-dpa"
                                               target="_blank"
                                               title="Conditions générales d’utilisation des services Brevo">https://www.brevo.com/fr/legal/termsofuse/#accord-sur-le-traitement-des-donnees-a-caractere-personnel-dpa</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <h2>Témoin de connexion et traceurs</h2>

                <p>Un témoin de connexion (ou cookie) est un fichier déposé sur votre terminal lors de
                    la
                    visite d’un site.
                    Il a pour but de collecter des informations relatives à votre navigation et de vous
                    adresser des
                    services adaptés à votre terminal (ordinateur, mobile ou tablette).</p>

                <p>Mon indemnisation justice utilise notamment l’outil de mesure d'audience Matomo,
                    configuré en mode
                    “exempté” et ne nécessitant pas le recueil de votre consentement conformément aux
                    recommandations de la
                    CNIL.</p>

                <p>Pour aller plus loin, vous pouvez consulter les fiches proposées par la Commission
                    Nationale de
                    l'Informatique et des Libertés (CNIL) :</p>

                <ul>
                    <li>
                        <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi"
                           target="_blank" title="Cookies et traceurs : que dit la loi ? ">Cookies &
                            traceurs : que dit la loi ?</a>
                    </li>
                    <li>
                        <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur"
                           target="_blank"
                           title="Les conseils de la CNIL pour maîtriser votre navigateur"> Cookies :
                            les outils pour les maîtriser</a></li>
                </ul>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ revelerCourriel() }}
{% endblock javascripts %}