name: "Test"

on:
  push:
    branches:
      - '**'
      - '!prod'
      - '!develop'

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  test-backend:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: precontentieux
          POSTGRES_DB: precontest
          POSTGRES_HOST: postgres
          POSTGRES_PASSWORD: precontentieux
          POSTGRES_PORT: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mailpit:
        image: axllent/mailpit
        ports:
          - 1025:1025
          - 8025:8025
      franceconnect:
        image: pierrelemee/mock-oidc-server
        ports:
          - 9997:9997
        env:
          PORT: 9997
          HOST: '0.0.0.0'
          # Liste exhaustive des exemples : https://github.com/france-connect/sources/blob/main/docker/volumes/fcp-low/mocks/idp/databases/citizen/base.csv
          USERS: '[
              {
                  "_title": "Jean MICHON",
                  "sub": "ce16a809-bbfb-41b9-baa0-154d94703fbd",
                  "email": "alt.yk-4on31rr2@yopmail.com",
                  "gender": "male",
                  "given_name": "Jean Jacques Pierre",
                  "given_name_array": [
                      "Jean", "Jacques, ","Pierre"
                  ],
                  "family_name": "MICHON",
                  "phone_number": "123456789",
                  "birthdate": "1986-04-02",
                  "country" : "France",
                  "locality" : "Paris",
                  "postal_code" : "75107",
                  "street_address" : "20 avenue de Ségur",
                  "birthplace": "50484",
                  "birthcountry": "99100"
              },
              {
                  "_title": "Ray KERAN",
                  "sub": "3297f962-d6a2-4e30-a134-4b85615fd62c",
                  "email": "ray.keran@courriel.fr",
                  "gender": "male",
                  "given_name": "Ray",
                  "given_name_array": [
                      "Ray"
                  ],
                  "family_name": "Keran",
                  "phone_number": "0607437022",
                  "birthdate": "1983-11-23",
                  "country" : "France",
                  "locality" : "Rennes",
                  "postal_code" : "35000",
                  "street_address" : "37 rue du Nivernais",
                  "birthplace": "35500",
                  "birthcountry": "99100"
              }
            ]'
    env:
      APP_ENV: test
      APP_SECRET: bafc23a0315b735289c499a886798934
      APP_DEBUG: false
      DATABASE_URL: pgsql://precontentieux:precontentieux@localhost:5432/precontest?serverVersion=15
      PRECONTENTIEUX_COURRIEL_EQUIPE: equipe@precontentieux.anje-justice.test
      COMPOSER_ALLOW_SUPERUSER: 1
      BASE_URL: precontentieux.test
      MAILER_FROM: ne-pas-repondre@precontentieux.test
      MAILER_DSN: smtp://localhost:1025
      MAILPIT_URL: http://localhost:8025
      CORS_ALLOW_ORIGIN: "*"
      EMAIL_FROM: ne-pas-repondre@precontentieux.anje-justice.test
      EMAIL_FROM_LABEL: "Mon Indemnisation Justice (test)"
      SYMFONY_DEPRECATIONS_HELPER: disabled
      FRANCE_CONNECT_WELL_KNOWN_URL: http://localhost:9997/.well-known/openid-configuration
      FRANCE_CONNECT_CLIENT_ID: client_id
      FRANCE_CONNECT_CLIENT_SECRET: client_secret
      PRO_CONNECT_WELL_KNOWN_URL: https://domain.null/.well-known/openid-configuration
      PRO_CONNECT_CLIENT_ID: proconnect-mock
      PRO_CONNECT_CLIENT_SECRET: bar
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: backend-composer-${{ runner.os }}-${{ hashFiles('composer.lock') }}

      - name: Setup PHP and run tests
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: 'zip, intl, calendar gd, pdo, pdo_pgsql, pgsql'

      - name: Install Composer dependencies
        run: composer install --no-interaction --optimize-autoloader
        working-directory: backend

      - name: Cache backend yarn dependencies
        uses: actions/cache@v4
        with:
          path: backend/node_modules
          key: backend-yarn-backend-${{ runner.os }}-${{ hashFiles('backend/yarn.lock') }}

      - name: Cache frontend yarn dependencies
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: backend-yarn-frontend-${{ runner.os }}-${{ hashFiles('frontend/yarn.lock') }}

      - uses: browser-actions/setup-firefox@v1
        id: setup-firefox
        with:
          firefox-version: 'latest-esr'

      - name: Build frontend assets
        run: |
          yarn install --no-progress --non-interactive --frozen-lockfile
          yarn build --outDir=../backend/public/build --base=/build
        working-directory: frontend

      - name: Install Puppeteer & DSFR
        run: yarn install
        working-directory: backend

      - name: Run migration
        run: bin/console -e test doctrine:migrations:migrate --no-interaction --all-or-nothing
        working-directory: backend

      - name: Load data fixtures
        run: bin/console -e test -n doctrine:fixture:load --purge-with-truncate
        working-directory: backend

      - name: Run backend unit tests
        run: bin/phpunit --log-junit test-result-backend.xml
        working-directory: backend
        env:
          FIREFOX_PATH: ${{ steps.setup-firefox.outputs.firefox-path }}

      - name: Backend test report
        uses: mbeccati/test-reporter@phpunit-support
        if: ${{ !cancelled() }}
        with:
          name: Backend test report
          path: backend/test-result-*.xml
          reporter: java-junit
          fail-on-error: false

  test-frontend:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Cache yarn dependencies
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: frontend-yarn-${{ runner.os }}-${{ hashFiles('frontend/yarn.lock') }}

      - name: Install Yarn dependencies
        run: yarn install --no-progress --non-interactive --frozen-lockfile
        working-directory: frontend

      - name: Build frontend assets
        run: yarn build --outDir=../backend/public/build --base=/build
        working-directory: frontend

      - name: Run frontend unit tests
        run: yarn vitest run --reporter=junit --outputFile=test-result-frontend.xml --reporter=verbose
        working-directory: frontend

      - name: Frontend test report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Frontend test report
          path: frontend/test-result-frontend.xml
          reporter: java-junit
          fail-on-error: false

  test-end2end:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: precontentieux
          POSTGRES_DB: precontest
          POSTGRES_HOST: postgres
          POSTGRES_PASSWORD: precontentieux
          POSTGRES_PORT: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mailpit:
        image: axllent/mailpit
        ports:
          - 1025:1025
          - 8025:8025
      franceconnect:
        image: pierrelemee/mock-oidc-server
        ports:
          - 9997:9997
        env:
          PORT: 9997
          HOST: '0.0.0.0'
          # Liste exhaustive des exemples : https://github.com/france-connect/sources/blob/main/docker/volumes/fcp-low/mocks/idp/databases/citizen/base.csv
          USERS: '[
              {
                  "_title": "Jean MICHON",
                  "sub": "ce16a809-bbfb-41b9-baa0-154d94703fbd",
                  "email": "alt.yk-4on31rr2@yopmail.com",
                  "gender": "male",
                  "given_name": "Jean Jacques Pierre",
                  "given_name_array": [
                      "Jean", "Jacques, ","Pierre"
                  ],
                  "family_name": "MICHON",
                  "phone_number": "123456789",
                  "birthdate": "1986-04-02",
                  "country" : "France",
                  "locality" : "Paris",
                  "postal_code" : "75107",
                  "street_address" : "20 avenue de Ségur",
                  "birthplace": "50484",
                  "birthcountry": "99100"
              },
              {
                  "_title": "Ray KERAN",
                  "sub": "3297f962-d6a2-4e30-a134-4b85615fd62c",
                  "email": "ray.keran@courriel.fr",
                  "gender": "male",
                  "given_name": "Ray",
                  "given_name_array": [
                      "Ray"
                  ],
                  "family_name": "Keran",
                  "phone_number": "0607437022",
                  "birthdate": "1983-11-23",
                  "country" : "France",
                  "locality" : "Rennes",
                  "postal_code" : "35000",
                  "street_address" : "37 rue du Nivernais",
                  "birthplace": "35500",
                  "birthcountry": "99100"
              }
            ]'
      proconnect:
        image: pierrelemee/mock-oidc-server
        ports:
          - 9998:9998
        env:
          PORT: 9998
          HOST: '0.0.0.0'
          # Liste exhaustive des exemples : https://github.com/france-connect/sources/blob/main/docker/volumes/fcp-low/mocks/idp/databases/citizen/base.csv
          USERS: '[
        {
            "_title": "Rédacteur",
            "sub": "c1722a03-4172-4015-9f0d-d1995d4cbe5c",
            "email": "redacteur@justice.gouv.fr",
            "given_name": "Red",
            "usual_name": "Acteur",
            "uid": "1234",
            "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
        },
        {
            "_title": "Liaison budget",
            "sub": "90d7335e-be32-4780-9bb3-6078f4482ece",
            "email": "liaison@justice.gouv.fr",
            "given_name": "Lison",
            "usual_name": "Bude-Jay",
            "uid": "119",
            "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
        },
        {
            "_title": "Attributeur",
            "sub": "14ea0686-9179-447a-a0b0-cdff4419befc",
            "email": "attributeur@justice.gouv.fr",
            "given_name": "Hat",
            "usual_name": "Tributeur",
            "uid": "7301",
            "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
        },
        {
            "_title": "Validateur",
            "sub": "dda38b83-bca4-4a25-8e2a-d2eb4947f02d",
            "email": "validateur@justice.gouv.fr",
            "given_name": "Walid",
            "usual_name": "Hateur",
            "uid": "551",
            "idp_id": "9e139e69-de07-4cbe-987f-d12cb38c0368"
        },
        {
            "_title": "Betagouv",
            "sub": "fd38a059-9f32-4b59-8f01-96d3284bf1cc",
            "email": "agent@beta.gouv.fr",
            "given_name": "Betta",
            "usual_name": "Gouve",
            "uid": "1337",
            "idp_id": "71144ab3-ee1a-4401-b7b3-79b44f7daeeb"
        }
    ]'
    env:
      CI: 1
      APP_ENV: test
      APP_SECRET: bafc23a0315b735289c499a886798934
      APP_DEBUG: false
      DATABASE_URL: pgsql://precontentieux:precontentieux@localhost:5432/precontest?serverVersion=15
      PRECONTENTIEUX_COURRIEL_EQUIPE: equipe@precontentieux.anje-justice.test
      COMPOSER_ALLOW_SUPERUSER: 1
      BASE_URL: http://localhost:8000
      MAILER_FROM: ne-pas-repondre@precontentieux.test
      MAILER_DSN: smtp://localhost:1025
      MAILPIT_URL: http://localhost:8025
      CORS_ALLOW_ORIGIN: "*"
      EMAIL_FROM: ne-pas-repondre@precontentieux.anje-justice.test
      EMAIL_FROM_LABEL: "Mon Indemnisation Justice (test)"
      SYMFONY_DEPRECATIONS_HELPER: disabled
      FRANCE_CONNECT_WELL_KNOWN_URL: http://localhost:9997/.well-known/openid-configuration
      FRANCE_CONNECT_CLIENT_ID: client_id
      FRANCE_CONNECT_CLIENT_SECRET: client_secret
      PRO_CONNECT_WELL_KNOWN_URL: http://localhost:9998/.well-known/openid-configuration
      PRO_CONNECT_CLIENT_ID: proconnect-mock
      PRO_CONNECT_CLIENT_SECRET: bar
      PLAYWRIGHT_JUNIT_OUTPUT_NAME: test-result-end2end.xml
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Setup PHP and run tests
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: 'zip, intl, calendar gd, pdo, pdo_pgsql, pgsql'

      - name: Install Symfony CLI
        run: |
          curl -1sLf 'https://dl.cloudsmith.io/public/symfony/stable/setup.deb.sh' | sudo -E bash
          sudo apt install symfony-cli

      - name: Cache composer dependencies
        id: cache-composer
        uses: actions/cache@v4
        with:
          path: backend/vendor
          key: end2end-composer-${{ runner.os }}-${{ hashFiles('backend/composer.lock') }}

      - name: Install Composer dependencies
        run: composer install --no-interaction --optimize-autoloader
        if: steps.cache-composer.outputs.cache-hit != 'true'
        working-directory: backend

      - name: Cache frontend yarn dependencies
        id: cache-yarn-frontend
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: end2end-yarn-frontend-${{ runner.os }}-${{ hashFiles('frontend/yarn.lock') }}

      - name: Install frontend assets
        run: yarn install --no-progress --non-interactive --frozen-lockfile
        if: steps.cache-yarn-frontend.outputs.cache-hit != 'true'
        working-directory: frontend

      - name: Cache yarn dependencies
        id: cache-yarn-end2end
        uses: actions/cache@v4
        with:
          path: |
            end2end/node_modules
            ~/.cache/ms-playwright
          key: cache-yarn-end2end-${{ runner.os }}-${{ hashFiles('end2end/yarn.lock') }}

      - name: Install Playwright
        run: |
          yarn install
          npx playwright install --with-deps
        if: steps.cache-yarn-end2end.outputs.cache-hit != 'true'
        working-directory: end2end

      - name: Build frontend assets
        run: |
          yarn install --no-progress --non-interactive --frozen-lockfile
          yarn build --outDir=../backend/public/build --base=/build
        working-directory: frontend

      - name: Run migration & load data fixtures
        run: |
          bin/console -e test doctrine:migrations:migrate --no-interaction --all-or-nothing
          bin/console -e test -n doctrine:fixture:load --purge-with-truncate
          yarn install
        working-directory: backend

      - name: Run end-to-end tests
        # Pour l'heure on se limite à Firefox car on ne sait pas encore créer des fixtures par Browser
        run: npx playwright test --reporter=junit --project firefox --retries 0
        env:
          PLAYWRIGHT_JUNIT_OUTPUT_NAME: test-result-end2end.xml
        working-directory: end2end

      - name: End-to-end test report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: End-to-end test report
          path: end2end/test-result-end2end.xml
          reporter: java-junit
          fail-on-error: false