{% macro bouton(libelle, cible) %}
    <table cellpadding="12" bgcolor="#000099">
        <tr>
            <td>
                <a style="text-decoration: none; color: #ffffff;" href="{{ cible }}">{{ libelle }}</a>
            </td>
        </tr>
    </table>
{% endmacro %}