{% extends 'email/base_email.html.twig' %}

{% import "email/_macros.twig" as email %}

{% block subject %}Mon Indemnisation Justice : votre déclaration de bris de porte a bien été pris en compte{% endblock subject %}

{% block entete %}
<b>Votre déclaration de bris de porte a bien été prise en compte</b>
{% endblock entete %}


{% block contenu %}
Bonjour {{ requerant.nomCourant }},
<br/>
<br/>
Vous avez déclaré un bris de porte ce jour. Nos services mettent tout en œuvre afin de revenir vers vous dans les meilleurs délais.
<br/>
<br/>
Nous tenons à vous préciser que le bureau du précontentieux reçoit beaucoup de demandes d'indemnisation quotidiennement
provenant de l'ensemble du territoire national et traite différentes catégories de dossiers.
<br/>
<br/>
De plus, l'instruction des demandes nécessite le recueil d'informations auprès des forces de l'ordre ou des autorités
judiciaires.
<br/>
<br/>
Enfin, le règlement de l'indemnité est effectué par le bureau du budget dont les délais de traitement sont à prendre en compte.
<br/>
<br/>
<ul>
    <li>
        Référence du dossier à rappeler dans toutes vos correspondances : <b>{{ brisPorte.reference }}</b>
    </li>
    <li>
        Numéro de suivi pour suivre l'avancement de votre dossier : <b>{{ brisPorte.raccourci }}</b>
    </li>
</ul>
<br/>
<br/>
Cordialement,<br/>
L'équipe Mon Indemnisation Justice
{% endblock contenu %}
